<li class="wow fadeIn" id="assignment large-6 columns">
  <div class="row" style="display: inline;">
    <h5><%= article.title %></h5>
    <h6>Subject: (<%= article.content %>)</h6>
  </div>
  <div class="row" style="display: inline;">
    <h7>Uploaded <%= time_ago_in_words(article.created_at) %> ago.</h7>
  </div>
  <div class="row" style="display: inline;">

  </div>
</li>
