#bog_def
{
width:60%;
margin:5px auto;
background:none;

}
	


#table_bog
{
	width:60%px;
	margin:0px auto;
	background:none;
	
}

#table_bog tr
	{
	width:100%px;
	border-bottom:1px solid black;
	margin:0;
	background:none;
	}
#table_bog tr:nth-child(odd)
	{
		background:#B2e0e0;
	}
#table_bog tr:nth-child(even)
	{
		background:#e6f5f5;
	}

#table_bog_td_1
	{
		#width:50px;
		#height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_bog_td_2
	{
		#width:900px;
		#height:50px;
		text-align:center;
		line-height:37px;
		
	}
	#table_bog_td_3
	{
		#width:250px;
		#height:50px;
		text-align:center;
		line-height:37px;
		
	}