#div_chair
	{
		width:60%;
		margin:4px auto;
		min-height:163px;
		height:auto;
		border-bottom:1px solid black;
		
	}
#div_name
	{
		width:50%;
		height:auto;
		margin:0;
		float:left;
		font-size:20px;
		text-align:center;
		color: #006666;
		font-weight:bold;
		position:relative;
		
		
	}
#div_name p
	{
		position:absolute;
		#top:160px;
	}
#div_chair_pic
	{
		width:50%;
		height:auto;
		float:right;
		margin:0;
		
	}
#div_chair_pic img
	{
		height:160px;
		width:140px;
		border:1px solid black;
	}

#chair_message
	{
		height:auto;
		width:60%;
		text-align:justify;
		margin:2px auto;
	}
@media screen and (max-width: 768px) 
	{
#div_chair
	{
		height:225px;
	}
#div_name
		{
			width:100%;
			display:block;
			height:60px;
			
		}
#div_chair_pic	
		{
			margin:2px auto;
			width:100%;
			display:block;
			height:163px;
		}
	}