


#div_main_index
{
	margin:0px auto;
	width:1916px;
	height:auto;
	background:#FFFFFF;
}
#div_main_header
	{
	margin:0px auto;
	width:100%;
	height:223px;
	background:white;
	
	}
#div_main_marquee
	{
	margin:0;
	width: 1916px;
	height:35px;
	background:#ffffff;
	}
#div_main_marquee > marquee > h1
	{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:blue;
	font-size:14px;
	
	}
#div_main_center
	{
	margin: 0 auto ;
	width:100%;
	height:690px;
	background:#ffffff;
	
	}

#div_main_center_left
	{
	margin:0;
	width:364px;
	height:614px;
	float:left;
	background:#ffffff;
	}
#div_main_center_left_quick
	{
		margin:0 auto;
		width:362px;
		height:400px;
		background:#ffffff;
	}
#div_main_center_center
	{
	margin:0;
	width:1072px;
	height:614px;
	float:left;
	background:white;
	}
#div_main_center_center_about
	{
	margin: 30px auto;
	height:400px;
	width: 800px;
	border:0px solid black;
	background:none;
	}


#div_main_center_center_about h1
	{
		margin: 0 auto;
		font-family: #POUND, sans-serif;
		font-size:20px;
		color: #AF8405;
		text-transform: capitalize;
		font-style: italic;
	}
#div_main_center_center_about_down
	{
		border-top:1px solid black;
		margin:10px auto;
	}
#div_main_center_center_about_down p
	{
		margin:2px auto;
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 14px;
		color: A5A5A5;
		text-align: 2px;
		text-align:justify;
		text-justify:inter-word;
		
	}




#div_main_center_right
	{
	margin:0;
	width:364px;
	height:614px;
	float:right;
	background:#ffffff;
	
	
	}
#div_main_center_right_top
	{
	margin:0;
	width:364px;
	height:auto;
	float:right;
	background:#ffffff;
	
	
	}
#div_main_center_right_bottam
	{
	margin:15px auto;
	width:364px;
	height:auto;
	float:right;
	background:#ffffff;
	
	
	}

#div_main_center_right_news_info
	{
	margin:0 auto;
	width:362px;
	height:200px;
	float:right;
	background:#ffffff;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right:1px solid gray;
	}
#div_main_center_right_news_info marquee
	{
		direction:up;
		height:190px;
		marquee-speed:slow;
	}
#div_main_center_right_news_info >marquee> p
	{
		text-align:justify;
		margin:5px 2px 2px 2px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:16px;
		color:black;
		padding:15px;
		border-bottom:1px solid gray;
		
	}
#div_main_center_right_news_info >marquee> p > a 
	{
	text-decoration:none;
	color:black;
	}
#div_main_center_right_news_info >marquee> p > a:hover 
	{
	text-decoration:none;
	color:black;
	}


#div_main_center_right_events
	{
	margin:0 auto;
	width:362px;
	height:200px;
	float:right;
	background:#ffffff;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right:1px solid gray;
	}
#div_main_center_right_events marquee
	{
		direction:up;
		height:190px;
		marquee-speed:slow;
	}
#div_main_center_right_events >marquee> p
	{
		text-align:justify;
		margin:5px 2px 2px 2px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:16px;
		color:black;
		padding:15px;
		border-bottom:1px solid gray;
		
	}
#div_main_center_right_events >marquee> p > a 
	{
	text-decoration:none;
	color:black;
	}
#div_main_center_right_events >marquee> p > a:hover 
	{
	text-decoration:none;
	color:black;
	}


#div_main_center_right_top h1 {
	background: #dce9d4;
	border-bottom: 2px solid #b3cca4;
	color: #836145;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 37px;
	line-height: 37px;
	margin: 0;
	padding: 0 0 0 20px;
	text-transform: capitalize;
	text-shadow: 1px 1px 1px #ffffff;
	border-radius: 21px 21px 0px 0px;
	-moz-border-radius: 21px 21px 0px 0px;
	-webkit-border-radius: 21px 21px 0px 0px;
	border: 1px solid #000000;
}
#div_main_center_right_bottam h1 {
	background: #dce9d4;
	border-bottom: 2px solid #b3cca4;
	color: #836145;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 37px;
	line-height: 37px;
	margin: 0;
	padding: 0 0 0 20px;
	text-transform: capitalize;
	text-shadow: 1px 1px 1px #ffffff;
	border-radius: 21px 21px 0px 0px;
	-moz-border-radius: 21px 21px 0px 0px;
	-webkit-border-radius: 21px 21px 0px 0px;
	border: 1px solid #000000;
}



	
#div_main_center_slide
	{
	margin:0px auto;
	width: 1000px;
	height:305px;
	background:#ffffff;
	}
.plus
	{
		height:200px;
		width:200px;
		float:right;
	}
#div_main_center_left h1 {
	background: #dce9d4;
	border-bottom: 2px solid #b3cca4;
	color: #836145;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 37px;
	line-height: 37px;
	margin: 0;
	padding: 0 0 0 20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #ffffff;
	border-radius: 21px 21px 0px 0px;
	-moz-border-radius: 21px 21px 0px 0px;
	-webkit-border-radius: 21px 21px 0px 0px;
	border: 1px solid #000000;
}
#div_main_center_left h2 {
	background: #dce9d4;
	border-bottom: 2px solid #b3cca4;
	color: #836145;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 37px;
	line-height: 37px;
	margin: 0;
	padding: 0 0 0 20px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #ffffff;
	border-radius: 0px 0px 21px 21px;
	-moz-border-radius: 0px 0px 21px 21px;
	-webkit-border-radius: 0px 0px 21px 21px;
	border: 1px solid #000000;
	}
/* LIST #8 */
#list8 { 
	margin:0px auto;
	border: 1px solid #000000;
	
 }
#list8 ul { list-style:none; margin:0; padding:0px 0px 0px 0px;  }
#list8 ul li { margin: auto; font-family:Georgia,serif,Times; font-size:15px; font-weight: bold; }

	
	
#list8 ul li a { display:block; width:352px; height:38px; background-color:#ffffff; border-left:5px solid #222; border-right:5px solid #222; padding-left:0px;
  text-decoration:none; color:#9E1F1F; margin:0 0 0 0; border-top:1px solid #8E9E2F; border-bottom: 1px solid #8E9E2F;}
#list8 ul li a:hover {  -moz-transform:rotate(-0deg); -moz-box-shadow:10px 10px 20px #000000;
  -webkit-transform:rotate(-0deg); -webkit-box-shadow:10px 10px 20px #000000;
  transform:rotate(-0deg); box-shadow:10px 10px 20px #000000; }
#list8 ul li ul{
    position:relative;
    display:none;
}
  
#list8 ul li:hover ul{
    left:50px;
    top:0px;
    display:block;
}
#list8 ul li ul li{
    #background-color:#cae25a;
}
#list8 ul li:hover ul li:hover{
   # background-color:#b1b536;
}
#list8 ul li ul li a{
    color:#454444;
    display:inline-block;
    width:250px;
}
#div_importent_notice
	{
		width:1000px;
		height:700px;
		margin:0 auto;
		#border:1px solid gray;
	}
#crurrent
	{
	margin:0 auto;
		
	}
#crurrent a
{
	text-shadow: #000 1px 1px 0;
	padding: 10px 12px;
	background: #160FDB;
	color: #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}



#contact_def
{
width:80%;
margin:5px auto;
#background:gray;
height:auto;

}
#contact_map
	{
		height:500px;
		width:500px;
		float:left;
	}
@media screen and (max-width: 768px) 
{
#contact_map
	{
		display:none;
	}
#contact_us
	{
	width:100%;
	float:left;
	}
#contact_us1
	{
	width:100%;
	float:left;
	}
}
#contact_us
	{
		height:300px;
		width:725px;
		float:right;
		font-size:16px;
		color:rgba(53, 155, 76, 1);
		text-align:center;
	}
#contact_us1
	{
		height:350px;
		width:725px;
		float:right;
		font-size:16px;
		color:rgba(53, 155, 76, 1);
		text-align:center;
	}
#contact_us h1
	{
		font-size:20px;
		text-align:center;
		color:black;
		
	}
#contact_us1 h1
	{
		font-size:20px;
		text-align:center;
		color:black;
		
	}
