


#div_main_index
{
	margin:0px auto;
	width:1916px;
	height:auto;
	background:#FFFFFF;
}
#div_main_header
	{
	margin:0px auto;
	width:100%;
	height:223px;
	background:white;
	
	}
#div_main_marquee
	{
	margin:0;
	width: 1916px;
	height:35px;
	background:#ffffff;
	}
#div_main_marquee > marquee > h1
	{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:blue;
	font-size:14px;
	
	}
#div_main_center
	{
	margin: 0 auto ;
	width:1800px;
	height:auto;
	background:#ffffff;
	
	}
#div_main_footar
	{
	margin:0 ;
	width:1916px;
	height:178px;
	background:gray;
	}

#div_main_center_facilities1
	{
		width:90%;
		margin:0 auto;
		border:1px solid gray;
		min-height:500px;
		height:637px;
		
	}

#div_main_center_facilities_top_img
	{
		height:200px;
		width:400px;
		margin:0;
		left:0;
	}
#div_main_center_facilities_top_img img
	{
		height:200px;
		width:400px;
		margin:0;
		left:0;
	}
#div_main_content
	{
		float:left;
		margin:10px;
		width:90%;
		#background:gray;
		min-height:270px;
		height:auto;
		padding:10px;
				
		
	}

#heading
	{
		margin:-56 auto;
		height:100px;
		width:500px;
		font-size:20px;
		
				
		font-weight:bold;
	}


#fotar_fac
	{
		height:100px;
		width:100%;
		background:#99CC99;
			
				z-index:2;
	}







	

