#footer {font-size: 11px; color: #333; }
#footer div.wrap {border-top: solid 1px #f99734; padding: 0px 0 10px;
background: #dce9d4;
border-bottom:solid 1px #f99734;


 }

#footar_menu
	{
		width: auto;
		height:auto;
		font-size: 14px;
		font-family:tahoma, Geneva, sans-serif;
		font-weight:bold;
		text-align:center;
		text-shadow: 1px 1px 1px gray;
	}
#footar_menu >ul
	{
	height: auto;
	padding:8px 0px;
	margin:0px;
	#background:gray;
	}
#footar_menu  li
	{
		display:inline;
		padding:20px;
		#background:red;
	}
#footar_menu >ul> li> a
	{
		text-decoration:none;
		color:#2877A3;
		padding: 8px 8px 8px 8px;
		margin-bottom:3px;
	}
#footar_menu >ul >li> a:hover
	{
		color: gray;
		background:none;
		
	}
@media screen and (max-width: 768px) 
{

#footar_menu >ul> li> a
	{
		width:100%;
		#position:absolute;
		left:0;
	}
#footar_menu >ul	
{
	width:100%;
	
	
}
#footar_menu li
	{
	width:100%;
	padding:0px;
	}
}