#bog_def
{
width:1300px;
margin:5px auto;
background:none;

}

#main
	{
		height:auto;
		width:80%;
		margin:5px auto;
		background:none;
	}
#main_left
	{
		width:70%;
		float:left;
	}
#main_right
	{
		width:29%;
		float:right;
	}
#main_right img
	{
		width:400px;
		height:250px;
		margin:auto;
		float:right;
		}
@media screen and (max-width: 768px) 
		{
		#main_left
			{
				width="100%";
			}
		#main_right	
			{
				display:none;
			}
		}
#table_main
	{
		width:80%;
		margin:5px auto;
		background:none;
		
	}
#table_main th
	{
		margin:auto;
		font-size:20px;
	}
#table_main tr
	{
		width:100%;
		height:auto;
		
	}
#td_main_1
	{
		width:70%;
		height:auto;
		
		
	}
#td_main_1 p
	{
	text-align:justify;
	}
#td_main_2
	{
		width:30%;
		float:right;
		
	}
#td_main_2 img
	{
		width:400px;
		height:250px;
		margin:auto;
		float:right;
	}

#table_hostal
{
	width:90%;
	margin:0px auto;
	background:none;
	
}

#table_hostal tr
	{
	width:100%;
	border-bottom:1px solid black;
	margin:0;
	background:none;
	}
#table_hostal tr:nth-child(odd)
	{
		background:#B2e0e0;
	}
#table_hostal tr:nth-child(even)
	{
		background:#e6f5f5;
	}

#table_hostal_td_1
	{
		width:50px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_hostal_td_2
	{
		width:250px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_hostal_td_3
	{
		width:250px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_hostal_td_4
	{
		width:250px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_hostal_td_5
	{
		width:150px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_hostal_td_w6
	{
		width:250px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_hostal_td_w7
	{
		width:250px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_hostal_td_w8
	{
		width:250px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}