body
	{
		margin:0;
	}
#menu_call
	{
		width:100%;
		height:auto;
		margin:0px auto;
	}
#center
	{
		height:auto;
		width:100%;
		margin:0 auto;
		#background:gray;
	}
#footar_call
	{
		height:auto;
		width:100%;
		margin:0px auto;
		#background:yellow;
	}
#div_main_marquee
	{
	margin:0;
	width: 100%;
	height:auto;
	background:#ffffff;
	
	}
#div_main_marquee > marquee > h1
	{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:red;
	font-size:14px;

	
	
	}
#left
	{
		width:20%;
		height:auto;
		float:left;
		margin:0px;
		#background:green;
	}
#center_center
	{
		width:60%;
		height:auto;
		margin:0;
		
		float:left;
		background:none;
	}
#center_slide
	{
		display: block;
		position: relative;
		width: 90%;
	height: auto;
	overflow: hidden;
	margin:0 auto;
	}
#right
	{
		width:20%;
		height:auto;
		float:right;
		margin:0px;
		#background:gray;
	}
#right h1 {
	background: #dce9d4;
	border-bottom: 2px solid #b3cca4;
	color: #836145;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: normal;
	min-height: 37px;
	height:auto;
	line-height: 37px;
	margin: 0;
	padding: 0 0 0 20px;
	text-transform: capitalize;
	text-shadow: 1px 1px 1px #ffffff;
	border-radius: 21px 21px 0px 0px;
	-moz-border-radius: 21px 21px 0px 0px;
	-webkit-border-radius: 21px 21px 0px 0px;
	border: 1px solid #000000;
}
#div_main_center_right_news_info
	{
	margin:0 auto;
	width:100%;
	min-height:500px;
	float:right;
	background:#ffffff;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right:1px solid gray;
	}
#div_main_center_right_news_info marquee
	{
		direction:up;
		height:390px;
		marquee-speed:slow;
	}
#div_main_center_right_news_info >marquee> p
	{
		text-align:justify;
		margin:3px 2px 2px 2px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:14px;
		color:black;
		padding:5px;
		border-bottom:1px solid gray;
		
	}
#div_main_center_right_news_info >marquee> p > a 
	{
	text-decoration:none;
	color:black;
	}
#div_main_center_right_news_info >marquee> p > a:hover 
	{
	text-decoration:none;
	color:black;
	}
#div_main_center_right_bottam
	{
	margin:15px auto;
	width:100%;
	height:auto;
	float:right;
	background:#ffffff;
	
	
	}
#div_main_center_right_events
	{
	margin:0 auto;
	width:100%;
	height:200px;
	float:right;
	background:#ffffff;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right:1px solid gray;
	}
#div_main_center_right_events marquee
	{
		direction:up;
		height:190px;
		marquee-speed:slow;
	}
#div_main_center_right_events >marquee> p
	{
		text-align:justify;
		margin:5px 2px 2px 2px;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:16px;
		color:black;
		padding:15px;
		border-bottom:1px solid gray;
		
	}
#div_main_center_right_events >marquee> p > a 
	{
	text-decoration:none;
	color:black;
	}
#div_main_center_right_events >marquee> p > a:hover 
	{
	text-decoration:none;
	color:black;
	}
/* LIST #8 */
#list8 { 
	margin:0px auto;
	#border: 1px solid #000000;
	width:90%;
	
 }
#list8 ul { list-style:none; margin:0; padding:0px 0px 0px 0px;  }
#list8 ul li { margin: auto; font-family:Georgia,serif,Times; font-size:15px; font-weight: bold; }

	
	
#list8 ul li a 
{
 display:block;
 #width:100%; 
 height:auto; 
 background-color:#ffffff;
 border-left:5px solid #222;
 border-right:5px solid #222;
 padding-left:0px;
 padding:8;
  text-decoration:none; 
  color:#3366CC; 
  margin:0 0 0 0;
  border-top:1px solid #8E9E2F;
  border-bottom: 1px solid #8E9E2F;
  }
#list8 ul li a:hover {  -moz-transform:rotate(-0deg); -moz-box-shadow:10px 10px 20px #000000;
  -webkit-transform:rotate(-0deg); -webkit-box-shadow:10px 10px 20px #000000;
  transform:rotate(-0deg); box-shadow:10px 10px 20px #000000; }
#list8 ul li ul{
    position:relative;
    display:none;
}
  
#list8 ul li:hover ul{
    left:50px;
    top:0px;
    display:inline-block;
}
#list8 ul li ul li{
    #background-color:#cae25a;
}
#list8 ul li:hover ul li:hover{
   # background-color:#b1b536;
}
#list8 ul li ul li a{
    color:#454444;
    display:inline-block;
    width:60%;
}
#left  h1 {
	background: #dce9d4;
	width:90%;
	border-bottom: 2px solid #b3cca4;
	color: #836145;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 37px;
	line-height: 37px;
	margin: 0 auto;
	padding: 0 0 0 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #ffffff;
	border-radius: 21px 21px 0px 0px;
	-moz-border-radius: 21px 21px 0px 0px;
	-webkit-border-radius: 21px 21px 0px 0px;
	border: 1px solid #000000;
}
#div_main_center_center_about
	{
	margin: 0px auto;
	height:auto;
	width: 90%;
	border:0px solid black;
	background:none;
	}


#div_main_center_center_about h1
	{
		margin: 0 auto;
		font-family: #POUND, sans-serif;
		font-size:20px;
		color: #AF8405;
		text-transform: capitalize;
		font-style: italic;
	}
#div_main_center_center_about_down
	{
		border-top:1px solid black;
		margin:10px auto;
	}
#div_main_center_center_about_down p
	{
		margin:2px auto;
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 14px;
		color: A5A5A5;
		text-align: 2px;
		text-align:justify;
		text-justify:inter-word;
		
	}
#div_quick_link
{
display:none;
}
#div_quick_link ul
	{
	list-style-type: none;
	margin-bottom: 10px;
	}
#div_quick_link ul li
	{
	display: inline-block;
margin: 0 5px 5px 0;
	padding: 0;
	}
#div_quick_link ul li a
	{
	display: block;
padding: 4px 10px;
color: #FFFFFF;
background-color: #4B855D;
text-transform: capitalize;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	}
#div_quick_link ul li a:hover
	{
	color: #FF9900;
outline: none;
     #background-color:#FFFFFF;
text-decoration: none;
	}
@media screen and (max-width: 768px) 
{
	#left
		{
			display:none;
			width:100%;
			margin:0px;
			height:auto;
		}
	#list8
		{
			margin:0 auto;
		}
	#center_center
		{
			display:block;
			width:100%;
			margin:5px;
			height:auto;
		}
	#right
		{
			width:100%;
			margin:0px;
			height:auto;
		}
	#div_quick_link
		{
		height: auto;
		width:100%;
		display:block;
		margin:5px auto;
		#background:gray;
		}
	
}