#lib_main
	{
		width:90%;
		height:auto;
		margin:5px auto;
	}

#lib_main_img
	{
		height:200px;
		width:60%;
		margin:0px auto;
		border:1px solid black;
	}

@media screen and (max-width: 768px) 
			{
			#lib_main_img
				{
				width:100%;
				display:block;
				}
			#cssmenu > ul > li {
			
			width:100%;
			display:block;
			}
}			
	

	
	
	

	#lib_main h1
	{
		font-size:18px;
		
		
	}
	


#table_lib
{
	width:80%;
	margin:0px auto;
	background:none;
	
}

#table_lib tr
	{
	width:100%;
	border-bottom:1px solid black;
	margin:0;
	background:none;
	}
#table_lib tr:nth-child(odd)
	{
		background:#B2e0e0;
	}
#table_lib tr:nth-child(even)
	{
		background:#e6f5f5;
	}

#table_lib_td_1
	{
		width:30%;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_lib_td_2
	{
		width:30%;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#table_lib_td_3
	{
		width:40%;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
	
#e_lib tr
	{
	width:800px;
	border-bottom:1px solid black;
	margin:0;
	background:none;
	}
#e_lib tr:nth-child(odd)
	{
		background:#B2e0e0;
	}
#e_lib tr:nth-child(even)
	{
		background:#e6f5f5;
	}

#e_lib_td_1
	{
		width:300px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#e_lib_td_1 a
	{
text-decoration: none;
font-family:  Helvetica, Arial, Tahoma, sans-serif;
font-weight: bold;
color: black;
	}
#e_lib_td_1 a:hover
	{
	background: #bebcbc;
	color: #2e3a54;
	}
#e_lib_td_2
	{
		width:230px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#e_lib_td_3
	{
		width:190px;
		height:50px;
		text-align:center;
		line-height:37px;
		
	}
#e_lib_td_3  a
	{
text-decoration: none;
font-family:  Helvetica, Arial, Tahoma, sans-serif;
font-weight: bold;
color: black;
	}
#map
{
	height:300px;
	width:750px;
	margin:30px auto;
}
#map_left
	{
		height:300px;
		width:350px;
		margin:0;
		float:left;
	}
#map_right
	{
		height:300px;
		width:350px;
		margin:0;
		float:right;
	}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #39b1cc;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
}
#cssmenu > ul {
  background: url('bg.png');
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  padding: 18px 25px 21px 25px;
  border-right: 1px solid rgba(80, 80, 80, 0.12);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #d3eced;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  color: #ffffff;
  background: #32a9c3;
  background: rgba(0, 0, 0, 0.1);
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
#cssmenu > ul > li.has-sub > a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 22px;
}
#cssmenu > ul > li.has-sub.active > a::after,
#cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 6px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
#cssmenu > ul > li > ul::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
#cssmenu ul ul ul::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
#cssmenu > ul > li > ul {
  top: 120px;
}
#cssmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 11px 25px;
  width: 180px;
  color: #777777;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color: #333333;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
#cssmenu ul ul li.has-sub > a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
 # border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}

#lib_menu
	{
		margin:5px;
		width:60%;
		float:right;
		
	}

