#main
	{
	margin: 0 auto ;
	width:90%;
	height:auto;
	background:none;
	
	}
#main_left
	{
		width:30%;
		float:left;
		height:auto;
	}
#main_right
	{
		width:70%;
		float:right;
		height:auto;
	}

@media screen and (max-width: 768px) 
			{
				#main_left
					{
					width:100%;
					display:block;}
					#main_right
					{
					width:100%;
					display:block;
					}
				#images_images img
					{
						width:100%;
						float:left;
					}
			}


.main_img
	{
		height:250px;
		#width:1000px;
		width:100%;
		margin: 5px auto;
	}




#list {
  width: 300px;
  margin:0;
 # position:absolute;
  #top:300px;
}
 
#list h2 {
  font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
 
#list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
#list li {
  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
#list li:last-child {
  border: none;
}
 
#list li a {
  text-decoration: none;
  color: #E01C1C;
  display: block;
  width: 300px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
#list li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}










