<% if @user.errors.any? %>
<div class="ui icon message">
  <i class="warning icon"></i>
  <div class="content">
    <div class="header">
      The form contains <%= pluralize(@user.errors.count, "error") %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>     
  </div>
</div>
<% end %>
