<% provide(:title, "Civil Engineering Department") %>
<div class="my-slider" style="height: 80vh;">
  <ul>
    <li><img id="slider-image" src="/assets/04.jpg"/></li>
    <li><img id="slider-image" src="/assets/05.jpg"/></li>
    <li><img id="slider-image" src="/assets/06.jpg"/></li>
  </ul>
</div>

<div class="ui relaxed two column grid stackable">
  <div class="twelve wide column">
    <div class="ui relaxed two column grid stackable">
      <div class="four wide column">
        <div class="ui vertical fluid secondary pointing menu" >
          <a class="active teal item" data-tab="about_dept">About Department</a>
          <a class="teal item" data-tab="mission_vision">Mission and Vision</a>
          <a class="teal item" data-tab="courses">Courses and Syllabus</a>
          <a class="teal item" data-tab="schedule">Time-Table/Schedule</a>
          <a class="teal item" data-tab="faculty">Faculty</a>
          <a class="teal item" data-tab="labs">Laboratories</a>
        </div>
      </div>

      <div class="twelve wide column" style="padding-left: 0;">
        <div class="ui active tab segment" data-tab="about_dept">
          Civil Engineering is a Professional Engineering discipline and it is the Mother branch of Engineering that deals with
          the design, construction and maintenance of the physical and naturally built environment, including works such as bridges, roads, canals, dams and buildings. It is traditionally broken into several sub-disciplines including Environmental Engineering, Geotechnical Engineering, Structural Engineering, Transportation Engineering, Water Resources Engineering, Materials Engineering, Coastal Engineering, Surveying, and Construction Engineering.
  The course outline of civil field programme gives the fundamental knowledge and flexibility as it has different types of work to
   do like designing, surveying and maintaining a structure, as well as it provides a better future for civil engineers.
    The purpose of this course is to make students learn to natural resources with preventing the environment.T
    he principle educational objective of our department is to provide the students with fundamental and high tech
    knowledge and the skills needed to resolve the problems related to
  construction and maintenance of infrastructure in harmony with the society and environment.
        </div>
        <div class="ui attached tab segment" data-tab="mission_vision">

  <h2>Mission</h2>

  The department of civil engineering efforts will be dedicated to formulate and implement high quality education in civil engineering, to promote innovative and original thoughts in the minds of civil engineers to face the future challenges, technology, research and consultancy with global linkages.

  <h2>Vision</h2>

  To build young Technocrats by imparting their technical knowledge in the field of civil engineering, by laying the foundation for future engineers, who can meet the demands of industry and community effectively in all part of civil works and to make significant contribution in the economic development of the state, region and nation.

  <h2>Program Educational Objective</h2>


  To educate the graduates with the basic and advanced knowledge in civil Engineering and to apply the fundamentals of Mathematics, Science, Management and computing in engineering principles.

  To motivate themselves in getting engineering position and practice with structural design, construction industries in private and government sectors at the national and international levels.

  To succeed and prepare the civil Engineering graduates in lifelong independent learning and work effectively on team based projects to become good entrepreneurs and conduct themselves ethically, socially in their professional environment.

        </div>
        <div class="ui attached tab segment" data-tab="courses">
          <h2>Core Subjects</h2>

  Being affiliated to the Uttarakhand Tachnical University, The Computer Science & Engineering department of the IT Gopeshwar follows the courses and syllabus prescribed by UTU which focus on and provide in-depth studies in the following main stream topics:.

  <h5>• Construction Techniques and Practices</h5>
  <h5>• Strength of Materials</h5>
  <h5>• Fluid Mechanics and Applied Hydraulics</h5>
  <h5>• Surveying</h5>
  <h5>• Structural analysis</h5>
  <h5>• Design of RCC</h5>
  <h5>• Design of Steel Structures Structural</h5>
  <h5>• Dynamics and Aseismic Design</h5>
  <h5>• Soil Mechanics and Foundation Engineering</h5>
  <h5>• Construction Planning and Scheduling</h5>
  <h5>• Estimation and Quantity Surveying</h5>
  <h5>• Irrigation Engineering</h5>
  <h5>• Environmental Engineering</h5>
  <h5>• Highway and Railway Engineering</h5>
  <h5>• Computer Aided Design</h5>
  <h5>• Prestressed Concrete Design</h5>
  <h3>Elective Subjects</h3>

  <h5>• GIS and Remote Sensing</h5>
  <h5>• Solid waste management</h5>
  <h5>• Ground Improvement Techniques</h5>
  <h5>• Town Planning Repair and Rehabilitation of structures</h5>
  <h5>• Design of Plate and shell structures</h5>
  <h5>• Tall Buildings</h5>
  <h5>• Smart structures and smart materials</h5>
  <h5>• Contract Laws and Regulations</h5>
  <h5>• Finite Element Techniques</h5>
        </div>
        <div class="ui attached tab segment" data-tab="schedule">
          Forth
        </div>
        <div class="ui attached tab segment" data-tab="faculty">
          <%= render partial: "facultymembers" %>
        </div>
        <div class="ui attached tab segment" data-tab="labs">
          The Civil Engineering department has modern equipped class rooms and well established laboratories to enhance the understanding of the concepts through practical exposure.

  <h5>• Surveying Lab I & II</h5>
  <h5>• Hydraulics Engineering Lab</h5>
  <h5>• Computer Aided Design and Drafting Lab</h5>
  <h5>• Strength of Materials Lab</h5>
  <h5>• Concrete and Highway Lab</h5>
  <h5>• Soil Mechanics Lab</h5>
  <h5>• Environmental Engineering Lab</h5>
  <h5>• Structural Engineering Lab</h5>
  <h5>• Geomatic Engineering Lab</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">

    <div class="row" style="margin-bottom: 10%;">
      <div class="ui feed">
        <h2>Department News</h2>
        <% if @news_items.any? %>
        <% @news_items.each do |news_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= news_item.title %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="ui feed" style="margin-bottom: 10%;">
        <h2>Notices</h2>
        <% if @statement_items.any? %>
        <% @statement_items.each do |statement_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= statement_item.content %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
