<% provide(:title, "Computer Science Department") %>
<div class="my-slider" style="height: 80vh;">
  <ul>
    <li><img id="slider-image" src="/assets/04.jpg"/></li>
    <li><img id="slider-image" src="/assets/05.jpg"/></li>
    <li><img id="slider-image" src="/assets/06.jpg"/></li>
  </ul>
</div>

<div class="ui relaxed two column grid stackable">
  <div class="twelve wide column">
    <div class="ui relaxed two column grid stackable">
      <div class="four wide column">
        <div class="ui vertical fluid secondary pointing menu" >
          <a class="active teal item" data-tab="about_dept">About Department</a>
          <a class="teal item" data-tab="mission_vision">Mission and Vision</a>
          <a class="teal item" data-tab="courses">Courses and Syllabus</a>
          <a class="teal item" data-tab="schedule">Time-Table/Schedule</a>
          <a class="teal item" data-tab="faculty">Faculty</a>
          <a class="teal item" data-tab="labs">Laboratories</a>
        </div>
      </div>

      <div class="twelve wide column" style="padding-left: 0;">
        <div class="ui active tab segment" data-tab="about_dept">


          The core courses offered by the Department of Computer Engineering are
          B.Tech Degree in Computer Science and Engineering . These courses are aimed at providing theoretical
          and practical knowledge of Computer Science. The subjects in Bachelor's level programme include Computer Architecture
          and Organisation,Automata Languages and Computation,
          Data Stuctures and Algorithms, Database Management Systems,Language Processor,
          Computer Networks,Advanced Architecture and Parallel Processing ,Software Engineering,
          Digital Signal Processing ,Analysis and Design of Algorithms etc.
          The curriculum also includes management papers like Industrial Organization and Management.
          In order to bridge the gap between knowledge and its true application,
          students are required to undertake seminars, mini-project and main project
          that put them through an industry-like situation. The course produces an
          ideal computer engineer, well-equipped to meet the challenges of the rapidly
          growing IT industry.Computer Science has the power to change the world.
          This course offer a flexible and facinating programmes for the students who wish to a
          cquire high skills in computers and applications, all supported by world class staff and facilities.
          The curriculum provides the students
          ith a technical perspective on major issues of computer application,
          programming, languages and web enabled services.
        </div>
        <div class="ui attached tab segment" data-tab="mission_vision">
          <h3>Mission</h3>

          To Develop our department as a center of excellence, imparting quality education, generating competents and skilled manpower. We prepare our students with high degree of credibility, integrity, ethical standards and social concern. we train our students to devise and implemented noval systems, based on education and research.

          <h3>Vision</h3>

          To provide an acagemically conducive enveronment for individuals to develop as technologically superior, socially conscious and nationally responsible citizens.

          <h3>Program Educational Objective</h3>


          To develop technically competent and well trained software engineers to attain National and International recognition.

          To frame and disseminate high quality program with the continuous and co-ordinate efforts of faculty and student body at all academic levels and various sectors.

          To produce ethically and socially responsible engineers who can involve themselves for community development to increase the productivity by providing suitable engineering solutions. To provide an acagemically conducive enveronment for individuals to develop as technologically superior, socially conscious and nationally responsible citizens.

        </div>
        <div class="ui attached tab segment" data-tab="courses">
          Third
        </div>
        <div class="ui attached tab segment" data-tab="schedule">
          Forth
        </div>
        <div class="ui attached tab segment" data-tab="faculty">
          <%= render partial: "facultymembers" %>
        </div>
        <div class="ui attached tab segment" data-tab="labs">
          Core Subjects

          Being affiliated to the Uttarakhand Tachnical University,
          The Computer Science and Engineering department of the IT Gopeshwar follows the courses and syllabus prescribed by UTU which
          focus on and provide in-depth studies in the following main stream topics:

          <h5>• Object Oriented Programming</h5>
          <h5>• Data Structures</h5>
          <h5>• File Structures</h5>
          <h5>• DBMS</h5>
          <h5>• System Software</h5>
          <h5>• Visual Programming</h5>
          <h5>• Multimedia</h5>
          <h5>• Unified Modeling Language</h5>
          <h5>• Software Engineering</h5>
          <h5>• Data Warehousing</h5>
          <h5>• Mobile Services and Communication</h5>
          <h5>• Design of Computer Systems</h5>
          <h5>• Design of Information Systems</h5>
          <h5>• System Modeling and Simulation</h5>
          <h5>• Programming in JAVA</h5>
          <h5>• Computer Networks</h5>
          <h5>• Distributed Computing</h5>
          <h5>• Peripherals and Interfacing</h5>
          <h5>• Operating Systems</h5>
          <h5>• Data Mining</h5>
          <h5>• Design and Analysis of Algorithms</h5>
          <h5>• Theory of Computation</h5>
          <h5>• Principles of Compiler Design</h5>
          <h5>• Web Technology</h5>
          <h5>• Object Oriented Analysis and Design</h5>
          <h5>• Network security and Management System</h5>
          <h5>• Professional Ethics</h5>
          <h5>• Component Based technology</h5>
          <h5>• Cryptography and Network Security</h5>
          <h5>• Embedded Systems</h5>
          <h5>• Integrative Computer Graphics</h5>
          <h5>• Computer Architecture I</h5>
          <h5>• Software Quality Management</h5>
          <h5>• Computer Architecture II</h5>
          <h5>• Introduction to Analysis of Algorithms</h5>
          <h5>• Artificial Intelligence</h5>
          <h5>• Programming and Data Structures</h5>
          <h5>• TCP/IP and Socket Programming</h5>
          <h2>Elective Subjects</h2>

          <h5>• Introduction to Markup Languages</h5>
          <h5>• Neural Networks</h5>
          <h5>• Unified Modeling Language</h5>
          <h5>• Artificial Intelligence</h5>
          <h5>• Distributed Computing</h5>
          <h5>• Robotics</h5>
          <h5>• C# and .NET Framework</h5>
          <h5>• Multimedia</h5>
          <h5>• Software Testing</h5>
          <h5>• Enterprise Resource Planning</h5>

        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">

    <div class="row" style="margin-bottom: 10%;">
      <div class="ui feed">
        <h2>Department News</h2>
        <% if @news_items.any? %>
        <% @news_items.each do |news_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= news_item.title %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="ui feed" style="margin-bottom: 10%;">
        <h2>Notices</h2>
        <% if @statement_items.any? %>
        <% @statement_items.each do |statement_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= statement_item.content %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
