<% provide(:title, "Electronics Engineering Department") %>
<div class="my-slider" style="height: 80vh;">
  <ul>
    <li><img id="slider-image" src="/assets/04.jpg"/></li>
    <li><img id="slider-image" src="/assets/05.jpg"/></li>
    <li><img id="slider-image" src="/assets/06.jpg"/></li>
  </ul>
</div>

<div class="ui relaxed two column grid stackable">
  <div class="twelve wide column">
    <div class="ui relaxed two column grid stackable">
      <div class="four wide column">
        <div class="ui vertical fluid secondary pointing menu" >
          <a class="active teal item" data-tab="about_dept">About Department</a>
          <a class="teal item" data-tab="mission_vision">Mission and Vision</a>
          <a class="teal item" data-tab="courses">Courses and Syllabus</a>
          <a class="teal item" data-tab="schedule">Time-Table/Schedule</a>
          <a class="teal item" data-tab="faculty">Faculty</a>
          <a class="teal item" data-tab="labs">Laboratories</a>
        </div>
      </div>

      <div class="twelve wide column" style="padding-left: 0;">
        <div class="ui active tab segment" data-tab="about_dept">
          In modern society, scope of electronics engineering is very vast that applied in every field. Development of world that includes every area such as telecommunications, satellite, microelectronics etc are the outcome of talented engineers. ECE is all about working with electronic science & communication equipments such as mobiles, fridge, transmitters, fulfilling the daily requirements of the people. This incourage students to understand the concept and design of the devices and bring new out innovations.

These programme are aimed at providing students with a sound knowledge in the theoretical aspects and practical
working knowledge in the field of Electronics Engineering. With the aim of bridging the gap between text-book knowledge
and its practical application, the students are required to take lab classes on all core subjects in addition to seminars
and projects.This course is structured in a way to provide better opportunities in industry and increase confidence and chance
 employment prospects. The core advantage of this field is to including designing and developing complex devices and systems.
The program also raise students for a range of increasing career options around them.
        </div>
        <div class="ui attached tab segment" data-tab="mission_vision">

  <h3>Mission</h3>

  To provide the students with engineering education in par with international standards in a highly disciplined environment with state of the art facilities for deep insight into technology and its advancements.

  <h3>Vision</h3>

  To emerge as a center of excellence in providing quality education and produce technically competent Electronics and Communication Engineers with broad global perspectives and social responsibility.

  <h3>Program Educational Objective</h3>


  Analyze, design and implement various electronics and communication systems using the technical knowledge acquired throughout the academic duration.

  Achieve a position of interest within an organization and meet the growing demands of the industry by providing appropriate engineering solutions that is beneficial to the society.

  Explore the available opportunities to pursue higher studies and involving in research activities to excel in the relevant field of expertise.

        </div>
        <div class="ui attached tab segment" data-tab="courses">
          <h2>Core Subjects</h2>

Being affiliated to the Uttarakhand Tachnical University, The Computer Science & Engineering department of the IT Gopeshwar follows the courses and syllabus prescribed by UTU which focus on and provide in-depth studies in the following main stream topics:.

<h5>• Basic electronics, devices, circuits</h5>
<h5>• Analog and digital communication concepts</h5>
<h5>• Concept of electromagnetic field and their application</h5>
<h5>• Linear and digital ICs</h5>
<h5>• Medical Electronics,WSN,Wireless Networks</h5>
<h5>• High Speed Networks</h5>
<h5>• Digital Image Processing</h5>
<h5>• Computer fundamentals on hardware and software</h5>
<h5>• Engineering mathematics</h5>
<h5>• Random process</h5>
        </div>
        <div class="ui attached tab segment" data-tab="schedule">
          Forth
        </div>
        <div class="ui attached tab segment" data-tab="faculty">
          Fifth
        </div>
        <div class="ui attached tab segment" data-tab="labs">
          ITG infrastructure allows the students to have in-depth practical knowledge and also get updated on the current technologies in the industry. The students have practical experience in the following areas:

  <h5>• Microprocessor Lab I</h5>
  <h5>• Microprocessor Lab II</h5>
  <h5>• Electronic System Design Lab</h5>
  <h5>• Optical & Microwave Lab</h5>
  <h5>• Communication Systems Lab</h5>
  <h5>• LIC and Digital Circuits Lab</h5>
  <h5>• DSP Lab & Networks Lab</h5>
  <h5>• Circuits & Devices Lab</h5>
  <h5>• VLSI Design Lab</h5>
  <h5>• Electronic Circuits Lab</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">

    <div class="row" style="margin-bottom: 10%;">
      <div class="ui feed">
        <h2>Department News</h2>
        <% if @news_items.any? %>
        <% @news_items.each do |news_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= news_item.title %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="ui feed" style="margin-bottom: 10%;">
        <h2>Notices</h2>
        <% if @statement_items.any? %>
        <% @statement_items.each do |statement_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= statement_item.content %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
