<% provide(:title, "Electrical Engineering Department") %>
<div class="my-slider" style="height: 80vh;">
  <ul>
    <li><img id="slider-image" src="/assets/04.jpg"/></li>
    <li><img id="slider-image" src="/assets/05.jpg"/></li>
    <li><img id="slider-image" src="/assets/06.jpg"/></li>
  </ul>
</div>

<div class="ui relaxed two column grid stackable">
  <div class="twelve wide column">
    <div class="ui relaxed two column grid stackable">
      <div class="four wide column">
        <div class="ui vertical fluid secondary pointing menu" >
          <a class="active teal item" data-tab="about_dept">About Department</a>
          <a class="teal item" data-tab="mission_vision">Mission and Vision</a>
          <a class="teal item" data-tab="courses">Courses and Syllabus</a>
          <a class="teal item" data-tab="schedule">Time-Table/Schedule</a>
          <a class="teal item" data-tab="faculty">Faculty</a>
          <a class="teal item" data-tab="labs">Laboratories</a>
        </div>
      </div>

      <div class="twelve wide column" style="padding-left: 0;">
        <div class="ui active tab segment" data-tab="about_dept">
          <div class="ui card" id="department-card">
            <div class="content">
              <div class="header">About Electrical Department</div>

              <div class="description">
                <p>
                  Of the many engineering disciplines, Mechanical Engineering is the broadest, encompassing a wide variety of engineering fields and many specialties. The mechanical engineers are employed in an enormous range of technical areas including: acoustics, air-conditioning, automatic controls, computer-aided design, energy management, fluid dynamics, robotics, biomechanics and turbo machinery, just to name a few. Mechanical engineering is a challenging, rewarding and highly respected profession.

          The department of Mechanical Engineering at IT Gopeshwar with its commitment to excellence educates the engineers of tomorrow by integrating classroom theory and practical hands-on projects, and also by emphasizing the process of learning and critical thinking by conducting industrial visits.

          The teaching and research programs in the department are organized according to both disciplinary and inter-disciplinary themes. We cover all the core disciplinary areas of Mechanical Engineering including dynamics, controls, solid mechanics, materials, fluid mechanics, thermodynamics, automobile and design.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="ui attached tab segment" data-tab="mission_vision">
          <div class="ui card" id="department-card">
            <div class="content">
              <div class="header">Mission</div>

              <div class="description">
                Prepare our students, through high quality internationally recognized instructional programs, to practice engineering professionally and ethically in a competitive global environment.
                <p>
                </p>
              </div>
            </div>
          </div>


<div class="ui  card" id="department-card">
  <div class="content">
    <div class="header">Vision</div>

    <div class="description">
      <p>Provide our engineering graduates with the tools, skills and competencies necessary to understand and apply today's technologies and become leaders in developing and deploying tomorrow's technologies.

      </p>
    </div>
  </div>
</div>


<div class="ui card" id="department-card">
  <div class="content">
    <div class="header">Program Educational Objective</div>

    <div class="description">
      <p>To develop technically competent engineers well trained in basic principles so that they are able to identify and adapt to technological advancement.

      To produce ethically & socially responsible and technically skilled engineers who are looked for by industries to provide engineering solution

      To achieve position of increased technical and business responsibility within an organization

      </p>
    </div>
  </div>
</div>




        </div>
        <div class="ui attached tab segment" data-tab="courses">
          <h2>Core Subjects</h2>

Being affiliated to the Uttarakhand Tachnical University, The Computer Science & Engineering department of the IT Gopeshwar follows the courses and syllabus prescribed by UTU which focus on and provide in-depth studies in the following main stream topics:.

<h5>• AC and DC Machines</h5>
<h5>• Control Systems</h5>
<h5>• Power Electronics</h5>
<h5>• Transmission and Distribution</h5>
<h5>• Design of Electrical Apparatus</h5>
<h5>• Protection and Switchgear</h5>
<h5>• Power System Analysis</h5>
<h5>• Power System Control</h5>
<h5>• High Voltage Engineering</h5>
<h5>• Solid State Drives</h5>
<h5>• Special Electrical Machines</h5>
<h5>• Power Electronic Instrumentation</h5>
<h5>• Power System Operation</h5>
<h5>• Power System Transients</h5>
<h5>• Neural Networks and Application of Power System</h5>
<h5>• Electric Energy Utilization and Conservation</h5>
<h5>• Advanced Control System</h5>
<h5>• Micro – Controller Based System Design</h5>
<h5>• Power Plant Instrumentation</h5>
<h5>• Circuit Analysis</h5>
<h5>• Electronic Circuits</h5>
<h5>• Measurements & Instrumentation</h5>
<h5>• STransmission & Distribution</h5>
<h5>• Linear & Digital Integrated Circuits</h5>
<h5>• Microprocessor and Microcontroller</h5>
<h5>• Electric Machine Design</h5>
<h5>• Data Structures & Algorithm</h5>
<h5>• Object Oriented Programming</h5>
<h5>• Digital Logic Circuits</h5>
<h5>• Digital Signal Processing</h5>
<h3>Elective Subjects</h3>

<h5>• Biomedical Instrumentation</h5>
<h5>• Robotics</h5>
<h5>• Neural Networks & Fuzzy Logic</h5>
<h5>• Computer Networks</h5>
<h5>• OOPS</h5>
<h5>• VLSI</h5>
<h5>• Power System Dynamics</h5>
<h5>• Power Quality</h5>
<h5>• Adapter Control</h5>
        </div>
        <div class="ui attached tab segment" data-tab="schedule">
          Forth
        </div>
        <div class="ui attached tab segment" data-tab="faculty">
          <%= render partial: "shared/facultymembers" %>
        </div>
        <div class="ui attached tab segment" data-tab="labs">
          ITG infrastructure allows the students to have in-depth practical knowledge and also get updated on the current technologies in the industry. The students have practical experience in the following areas:

  <h5 class="department-subheadings">• Electric circuit analysis lab</h5>
  <h5>• Electrical machines lab</h5>
  <h5>• Control systems lab</h5>
  <h5>• Power electronics lab</h5>
  <h5>• Measurement and instrumentation lab</h5>
  <h5>• Power system simulation lab </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">

    <div class="row" style="margin-bottom: 10%;">
      <div class="ui feed">
        <h2>Department News</h2>
        <% if @news_items.any? %>
        <% @news_items.each do |news_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= news_item.title %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="ui feed" style="margin-bottom: 10%;">
        <h2>Notices</h2>
        <% if @statement_items.any? %>
        <% @statement_items.each do |statement_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= statement_item.content %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
