<% provide(:title, "Science and Humanities Department") %>
<div class="my-slider" style="height: 80vh;">
  <ul>
    <li><img id="slider-image" src="/assets/04.jpg"/></li>
    <li><img id="slider-image" src="/assets/05.jpg"/></li>
    <li><img id="slider-image" src="/assets/06.jpg"/></li>
  </ul>
</div>

<div class="ui relaxed two column grid stackable">
  <div class="twelve wide column">
    <div class="ui relaxed two column grid stackable">
      <div class="four wide column">
        <div class="ui vertical fluid secondary pointing menu" >
          <a class="active teal item" data-tab="about_dept">About Department</a>
          <a class="teal item" data-tab="mission_vision">Mission and Vision</a>
          <a class="teal item" data-tab="courses">Courses and Syllabus</a>
          <a class="teal item" data-tab="schedule">Time-Table/Schedule</a>
          <a class="teal item" data-tab="faculty">Faculty</a>
          <a class="teal item" data-tab="labs">Laboratories</a>
        </div>
      </div>

      <div class="twelve wide column" style="padding-left: 0;">
        <div class="ui active tab segment" data-tab="about_dept">
          The foundation of modern engineering education is based on the subjects of Mathematics, Physics, Chemistry supported by language and other complimentary engineering subjects.

  A strong high-rise building cant be built on a week foundation which signifies the importance of this department. Mathematics being the fundamental of all engineering is given special attention. Where the humanities section offers courses in English language professional communication and industrial management.

  The future technocrats are like climate change, increasing industrialization, globalization are discussed through classes, lectures & field work.
        </div>
        <div class="ui attached tab segment" data-tab="mission_vision">
        <h3>Mission</h3>

To Develop our department as a center of excellence, imparting quality education, generating competents and skilled manpower. We prepare our students with high degree of credibility, integrity, ethical standards and social concern. we train our students to devise and implemented noval systems, based on education and research.

<h3>Vision</h3>

To provide an acagemically conducive enveronment for individuals to develop as technologically superior, socially conscious and nationally responsible citizens.
        </div>
        <div class="ui attached tab segment" data-tab="courses">
          <h2>Core Subjects</h2>

  Being affiliated to the Uttarakhand Tachnical University, The Computer Science & Engineering department of the IT Gopeshwar follows the courses and syllabus prescribed by UTU which focus on and provide in-depth studies in the following main stream topics:.

  <h5>• Engineering Physics</h5>
  <h5>• Engineering Chemistry</h5>
  <h5>• Engineering Mathematics-I</h5>
  <h5>• Engineering Mathematics-II</h5>
  <h5>• Engineering Mathematics-III</h5>
  <h5>• Basic Technical Communication</h5>
  <h5>• Advanced Technical Communication</h5>
  <h5>• Engineering Economics</h5>
  <h5>• Environment Studies</h5>
        </div>
        <div class="ui attached tab segment" data-tab="schedule">
          Forth
        </div>
        <div class="ui attached tab segment" data-tab="faculty">
          Fifth
        </div>
        <div class="ui attached tab segment" data-tab="labs">
          TG infrastructure allows the students to have in-depth practical knowledge and also get updated on the current technologies in the industry. The students have practical experience in the following areas:

<h5>• Engineering Physics Lab</h5>
<h5>• Engineering Chemistry Lab</h5>
<h5>• Language Lab </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">

    <div class="row" style="margin-bottom: 10%;">
      <div class="ui feed">
        <h2>Department News</h2>
        <% if @news_items.any? %>
        <% @news_items.each do |news_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= news_item.title %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="ui feed" style="margin-bottom: 10%;">
        <h2>Notices</h2>
        <% if @statement_items.any? %>
        <% @statement_items.each do |statement_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= statement_item.content %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
