<% provide(:title, "mechanical Engineering Department") %>
<div class="my-slider" style="height: 80vh;">
  <ul>
    <li><img id="slider-image" src="/assets/04.jpg"/></li>
    <li><img id="slider-image" src="/assets/05.jpg"/></li>
    <li><img id="slider-image" src="/assets/06.jpg"/></li>
  </ul>
</div>

<div class="ui relaxed two column grid stackable">
  <div class="twelve wide column">
    <div class="ui relaxed two column grid stackable">
      <div class="four wide column">
        <div class="ui vertical fluid secondary pointing menu" >
          <a class="active teal item" data-tab="about_dept">About Department</a>
          <a class="teal item" data-tab="mission_vision">Mission and Vision</a>
          <a class="teal item" data-tab="courses">Courses and Syllabus</a>
          <a class="teal item" data-tab="schedule">Time-Table/Schedule</a>
          <a class="teal item" data-tab="faculty">Faculty</a>
          <a class="teal item" data-tab="labs">Laboratories</a>
        </div>
      </div>

      <div class="twelve wide column" style="padding-left: 0;">
        <div class="ui active tab segment" data-tab="about_dept">
          Of the many engineering disciplines, Mechanical Engineering is the broadest, encompassing a wide variety of engineering fields and many specialties. The mechanical engineers are employed in an enormous range of technical areas including: acoustics, air-conditioning, automatic controls, computer-aided design, energy management, fluid dynamics, robotics, biomechanics and turbo machinery, just to name a few. Mechanical engineering is a challenging, rewarding and highly respected profession.

  The department of Mechanical Engineering at IT Gopeshwar with its commitment to excellence educates the engineers of tomorrow by integrating classroom theory and practical hands-on projects, and also by emphasizing the process of learning and critical thinking by conducting industrial visits.

  The teaching and research programs in the department are organized according to both disciplinary and inter-disciplinary themes. We cover all the core disciplinary areas of Mechanical Engineering including dynamics, controls, solid mechanics, materials, fluid mechanics, thermodynamics, automobile and design.
        </div>
        <div class="ui attached tab segment" data-tab="mission_vision">

<h2>Mission</h2>

The mission of the Department of Mechanical Engineering is to serve the society by developing competent engineers with outstanding leadership qualities who will respond effectively to the progressive needs of the industries through contributions in knowledge discovery, innovation, entrepreneurship and aptitude for sustained learning.

<h2>Vision</h2>

The Department of Mechanical Engineering will be recognized nationally as a pioneer in undergraduate engineering programs of the nation through the excellence of its people. Based on the quality and balance of its teaching and research set within the context of meeting important societal needs it will be a department of choice by prospective students, parents, faculty, staff, and industries.

<h2>Program Educational Objective</h2>


The Mechanical Engineering graduates will be contributing to the industrial requirements as per recent changes, societal needs, requirements of government by applying the acquired skills and engineering knowledge acquired through basic engineering education and their cooperative educational experiences.

After graduation, the graduate will be able to demonstrate his/her technical knowledge and skills in their career with systems perspective, analyze, design, develop, optimize, and implement complex mechanical systems.

The Mechanical Engineering graduates also prepared to undergo higher studies in the specialization like Thermal engineering, Engineering Design, Manufacturing technology, Printing technology, Advanced Mechanical Science, Computational Fluid Dynamics, Fluid Mechanics and Automotive Technology etc.

        </div>
        <div class="ui attached tab segment" data-tab="courses">
          <h2>Core Subjects</h2>

Being affiliated to the Uttarakhand Tachnical University, The Computer Science & Engineering department of the IT Gopeshwar follows the courses and syllabus prescribed by UTU which focus on and provide in-depth studies in the following main stream topics:.

<h5>• Fluid Mechanics</h5>
<h5>• Thermodynamics</h5>
<h5>• Thermal Engineering</h5>
<h5>• Power Plant Engineering</h5>
<h5>• Heat and Mass Transfer</h5>
<h5>• Gas Dynamics and Jet Propulsion</h5>
<h5>• Design of machine Elements</h5>
<h5>• Computer Graphics and Drafting</h5>
<h5>• Computer Aided Manufacturing</h5>
<h5>• Manufacturing Technology</h5>
<h5>• Design of Jigs</h5>
<h5>• Fixtures and Press tools</h5>
<h5>• Machine Tools</h5>
<h5>• Automobile Engineering</h5>
<h5>• Strength of Materials etc.</h5>
<h3>ELECTIVE COURSES:</h3>
<h5>• Wind and Solar Power Engineering</h5>
<h5>• Refrigeration and Air conditioning</h5>
<h5>• Creativity, Innovation and New Product Development</h5>
<h5>• Advanced IC Engineering</h5>
<h5>• Turbo Machinery</h5>
<h5>• Finite Element Techniques</h5>
<h5>• Combustion Engineering</h5>
<h5>• Entrepreneurship Development</h5>
<h5>• Computational of fluid flow and Heat transfer</h5>
<h5>• Industrial Robotics</h5>
        </div>
        <div class="ui attached tab segment" data-tab="schedule">
          Forth
        </div>
        <div class="ui attached tab segment" data-tab="faculty">
          <%= render partial: "facultymembers" %>
        </div>
        <div class="ui attached tab segment" data-tab="labs">
          TG infrastructure allows the students to have in-depth practical knowledge and also get updated on the current technologies in the industry. The students have practical experience in the following areas:

  <h5>• Automobile Lab</h5>
  <h5>• Heat & Mass Transfer Lab</h5>
  <h5>• Mechanics Lab</h5>
  <h5>• Material Science & Testing Lab</h5>
  <h5>• Refrigeration and Air Conditioning Lab</h5>
      <h5>• Theory of Machine Lab</h5>
  <h5>• Fluid Mechanics Lab</h5>
  <h5>• Measurement & Meterology Lab</h5>
  <h5>• Thermodynamics Lab</h5>
  <h5>• Workshop Machineries & Plant</h5>
  <h5>• CAD/ CAM Lab</h5>
  <h5>• Finite Element Analysis Lab</h5>
  <h5>• MET Lab</h5>
  <h5>• Manufacturing Labs</h5>
  <h5>• Design Labs</h5>
  <h5>• Fluid Mechanic & Machinery Labs</h5>
  <h5>• Heat of Mass Transfer Labs</h5>
  <h5>• CAD/CAM Lab</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="four wide column">

    <div class="row" style="margin-bottom: 10%;">
      <div class="ui feed">
        <h2>Department News</h2>
        <% if @news_items.any? %>
        <% @news_items.each do |news_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= news_item.title %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="ui feed" style="margin-bottom: 10%;">
        <h2>Notices</h2>
        <% if @statement_items.any? %>
        <% @statement_items.each do |statement_item| %>
        <div class="event">
          <div class="label">
            <i class="info icon circular"></i>
          </div>
          <div class="content">
            <%= statement_item.content %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
