<!--FOOTER SECTION-->
<footer>
  <div class="row">
    <div class="small-6 large-4 columns">
  <h1> Footer1 </h1>
    <ul class="footercontainer_list">
      <li class="footercontainer_list-items"
    </li>
    <a class="links" title="Home" href="#">
      <span>Home</span>
    </a>
    <li class="footercontainer_list-items"
  </li>
  <a class="links" title="Home2" href="#">
    <span>Home2</span>
  </a>
  <li class="footercontainer_list-items"
</li>
<a class="links" title="HariOm" href="#">
  <span>HariOM</span>
</a>
  </div>

      <div class="small-6 large-4 columns">
    <h2> Footer2</h2>
    <ul class="footercontainer_list">
      <li class="footercontainer_list-items"
    </li>
    <a class="links" title="Top" href="#">
      <span>Top</span>
    </a>
    <li class="footercontainer_list-items"
  </li>
  <a class="links" title="Top2" href="#">
    <span>Top2</span>
  </a>
  <li class="footercontainer_list-items"
</li>
<a class="links" title="OM" href="#">
  <span>OM</span>
</a>
  </div>
        <div class="small-6 large-4 columns">
      <h3> Footer</h3>
      <ul class="footercontainer_list">
        <li class="footercontainer_list-items"
      </li>
      <a class="links" title="Next" href="#">
        <span>Next</span>
      </a>
      <li class="footercontainer_list-items"
    </li>
    <a class="links" title="Next2" href="#">
      <span>Next2</span>
    </a>
    <li class="footercontainer_list-items"
  </li>
  <a class="links" title="-!-" href="#">
    <span>-!-</span>
  </a>
      </div>
    </div>
</footer>
