<!--FOOTER SECTION-->
            <footer>
                <div class="wrap row small-up-1 medium-up-3">
                    <div class="column">
                        <h4>Contact</h4>
                    </div>
                    <div class="column">
                        <h4></h4>
                    </div>
                    <div class="column">
                        <h4></h4>
                    </div>
                </div>
            </footer>
             </div>
    </div>
