<footer>
<div class="row">
  <div class="large-4 columns">
   <img style="margin: 10px 0px 10px 0px" src="http://www.cam.ac.uk/sites/www.cam.ac.uk/files/logo.png">
 </div>
  <div class="large-4 columns">
    <h5>Study at ITG</h5>
    <div class="large-8 column">
      <a href="#" class="button">fb</a>
      <a href="#" class="button">twi</a>
      <a href="#" class="button">git</a>
    </div>
    <div class="large-4 columns">
      <a href="#" class="button">Contact us</a>
    </div>
  </div>
  <div class="large-4 columns">
    <h5>About ITG</h5>
    <a class="link external" title="Who we are" href="http://itgopeshwar.ac.in/aboutitg.html">
      <span>Who we are</span>
      <div class="large-4 columns">
        <a href="http://itgopeshwar.ac.in/aboutitg.html" class="button">learn more</a>
  </div>
</div>
</footer>
