<footer class="wow fadeInUp">
  <div class="row links" style="display: inline;">
    <a>About</a>
    <a data-open="developerModal" class="tlt" data-in-effect="flip" data-out-effect="flipOutX">Developers</a>
    <a>Contact</a>
    <a href="http://uktech.ac.in/">UTU</a>
    <a href="http://www.aicte-india.org/">AICTE</a>
    <a href="http://jeemain.nic.in/">JEE</a>
  </div>
  <div class="row">
    <button type="button" class="elevator-button">
      <h5>Elevator to Top!</h5>
      <i class="fa fa-chevron-circle-up"></i>
    </button>
  </div>
</footer>
