<div class="overlay">
  <div class="ui secondary menu massive fixed stackable">
    <a class="item menu-button">
      <i class="sidebar icon"></i>
    </a>
    <div id="menu-search" class="ui icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>
    <div class="right menu">
    <a class="item">For Students</a>
    <a class="item">For Faculty</a>
    <a class="item"><img class="menu-profile-image" src="/assets/02.jpg" width="0" height="35"/> User Name </a>
    </div>
  </div>
</div>
