<!--MOBILE NAVIGATION -->

            <nav class="nav-mobile">
                <div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
                    <ul class="menu vertical" data-accordion-menu>

                        <li><a href="#">About</a></li>
                        <li>
                            <a href="#">Academics</a>
                            <ul class="menu vertical">
                                <li><a href="#">Study at ITG</a></li>
                        <li>
                            <a href="#">About ITG</a>                            
                        </li>

                        <li><a href="#">Research at ITG</a></li>
                    </ul>
                </div>

                <div class="off-canvas-content" data-off-canvas-content>
                    <div class="title-bar show-for-small-only">
                        <div class="title-bar-left">
                            <button class="menu-icon" type="button" data-open="mobile-menu"></button>
                            <span id="mobile-title" class="menu-mobile">Menu</span>
                        </div>
                        <div class="tertiary-nav">
                            <div class="top-bar-right">
                                <ul class="inline-list menu menu-mobile">
                                    <li class="search-field">
                                        <form>
                                            <div class="row collapse">
                                                <div class="small-12 columns">
                                                    <input type="search" placeholder="Search">
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                    <li>
                                        <button type="button" class="button search-icon">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </nav>

            <!--DESKTOP NAVIGATION-->
            <nav class="top-bar nav-desktop">

                <div class="top-bar-left">
                    <ul class="dropdown menu menu-desktop" data-dropdown-menu>

                        <li><a id="bordered" href="#">Study at ITG</a></li>
                        <li>
                            <a href="home/about">About ITG</a>                            
                        </li>

                        <li><a id="bordered" href="#">Research at ITG</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu menu-desktop">
                        <li>
                            <input type="search" placeholder="Search">
                        </li>
                        <li>
                            <button type="button" class="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </li>
                    </ul>
                </div>

            </nav>

