<div class="ui sidebar vertical menu">
    <a class="item" href="<%= root_path %>">
      Home
    </a>
    <a class="item" href="<%= login_path %>">
        Login
      </a>


  <div class="item">
    <div class="header">About</div>
    <div class="menu">
      <a class="item">About ITG</a>
      <a class="item">About UTU</a>
      <a class="item">Vice Chancellor's Message</a>
      <a class="item">Director's Message</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Academics</div>
    <div class="menu">
      <a class="item">Programes</a>
      <a class="item">Ordinance</a>
      <a class="item">Fees Structure</a>
      <a class="item">Faculty and Staff</a>
    </div>
  </div>

  <div class="item">
    <div class="header">Administration</div>
    <div class="menu">
      <a class="item">Vice-Chancellor</a>
      <a class="item">Director</a>
      <a class="item">Faculty Incharges</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Departments</div>
    <div class="menu">
      <a class="item">Computer Science Engineering</a>
      <a class="item">Civil Engineering</a>
      <a class="item">Electrical Engineering</a>
      <a class="item">Electronics & Communication Engineering</a>
      <a class="item">Mechanical Engineering</a>
      <a class="item">Applied Science & Humanities</a>
    </div>
  </div>
  <div class="item">
    <div class="header">Facilities</div>
    <div class="menu">
      <a class="item">Infrastructure</a>
      <a class="item">Library</a>
      <a class="item">Medical Facilities</a>
      <a class="item">Canteen</a>
      <a class="item">Students Activities</a>
      <a class="item">Hostels</a>
    </div>
  </div>
  <a class="item">
      Contact
    </a>

  </div>
