<% provide(:title, "Home") %>

<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">

<body>
	<!--HERO SECTION-->
	<section class="hero">
		<div class="hero-content">
			<h1 class="wow fadeInLeft">Institute Of Technology, Gopeshwar</h1>
			<h4 class="wow fadeInRight">The youngest constituent college of UTU</h4>
			<a href="#" id="learnmore">
				<i class="fa fa-chevron-circle-down animated flash"></i>
			</a>
		</div>
	</section>


	<!--MAIN SECTION-->
	<section class="main-body">
		<div class="large-window1 lazy">
			<div class="window1-tint">
				<div class="window1-text wow bounceInLeft">
					<p>
						First
						<strong>Text here</strong>
					</p>
					<button class="ui brown button">Call To Action</button>
				</div>
			</div>
		</div>
		<div class="large-window2 lazy">
			<div class="window2-tint">
				<div class="window2-text wow flipInX">
					<p>
						Second
						<strong>Text here</strong>
					</p>
					<button class="ui red button">Call To Action</button>
				</div>
			</div>
		</div>

		<div class="large-window3 lazy">
			<div class="window3-tint">
				<div class="window3-text wow flipInY">
					<p>
						Third
						<strong>Text here</strong>
					</p>
					<button class="ui green button">Call To Action</button>
				</div>
			</div>
		</div>

		<div class="large-window4 lazy">
			<div class="window4-tint">
				<div class="window4-text wow lightSpeedIn">
					<p>
						Forth
						<strong>Text here</strong>
					</p>
					<button class="ui white button">Call To Action</button>
				</div>
			</div>
		</div>
	</section>

</body>
<script>
//Lazy-Load
$('section.lazy').lazyload({
	effect: "fadeIn"
});
</script>
</html>
