<% provide(:title, "Home") %>

<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">


<body>
	<!--HERO SECTION-->
	<section class="hero">
		<div class="wrap">
			<div class="row logo">
				<div class="large-4 columns">
					<img src="http://www.cam.ac.uk/sites/www.cam.ac.uk/files/logo.png">
				</div>
				<div class="large-4 columns">
					<div class="large-6 columns">
						<ul>
							<li>
								<a href="#">&gt; For staff</a>
							</li>
							<li>
								<a href="/student_section/index">&gt; For ITG students</a>
							</li>
							<li>
								<a href="#">&gt; For alumni</a>
							</li>
							<li>
								<a href="#">&gt; For businesses</a>
							</li>
						</ul>
					</div>
					<div class="large-6 columns">
						<ul>
							<li>
								<a href="#">&gt; Departments</a>
							</li>
							<li>
								<a href="#">&gt; Library</a>
							</li>
							<li>
								<a href="#">&gt; Facilities</a>
							</li>
							<li>
								<a href="#">&gt; Contacts</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!--Index SECTION-->
			<div class="row">

				<div class="large-2 columns">
					<h1></h1>
				</div>

				<div class="small-12 large-8 columns">
				<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="assets/01.jpg" alt="Space">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/02.jpg" alt="Space">
      <figcaption class="orbit-caption">Lets Rocket!</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/03.jpg" alt="Space">
      <figcaption class="orbit-caption">Encapsulating</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/04.jpg" alt="Space">
      <figcaption class="orbit-caption">Outta This World</figcaption>
    </li>
  </ul>
			</div>
			</div>
			<div class="large-2 columns">
				<h1></h1>
			</div>
</div>

		</section>
		<!--MAIN SECTION-->
		<section class="main wrap">
			<div class="row">
				<div class="row1">
					<div class="small-12 medium-8 columns">
						<div class="small-12 medium-6 columns">
							<div class="row">
								<h1>focus</h1>
								<p>Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Nulla pellentesque sapien nunc, ut
									tempor ipsum condimentum quis. Nunc pretium
									placerat turpis, vitae accumsan ipsum maximus
									vel.</p>
									<a class="secondary button" href="#">Secondary Color</a>
								</div>
							</div>

							<div class="=small-12 medium-6 columns">
								<h1>focus</h1>
								<p>Lorem ipsum dolor sit amet, consectetur
									adipiscing elit. Nulla pellentesque sapien nunc, ut
									tempor ipsum condimentum quis. Nunc pretium
									placerat turpis, vitae accumsan ipsum maximus
									vel.</p>
									<a class="secondary button" href=
									"#">Secondary Color</a>
								</div>

								<div class="small-12 medium-6 columns">
									<div class="focus">
										<h1>focus</h1>
										<p>Lorem ipsum dolor sit amet, consectetur
											adipiscing elit. Nulla pellentesque sapien nunc, ut
											tempor ipsum condimentum quis. Nunc pretium
											placerat turpis, vitae accumsan ipsum
											maximus.</p>
											<a class="secondary button" href=
											"#">Secondary Color</a>
										</div>
									</div>
									<div class="small-12 medium-6 columns">
										<div class="focus">
											<h1>focus</h1>
											<p>Lorem ipsum dolor sit amet, consectetur
												adipiscing elit. Nulla pellentesque sapien nunc, ut
												tempor ipsum condimentum quis. Nunc pretium
												placerat turpis, vitae accumsan ipsum
												maximus.</p>
												<a class="secondary button" href=
												"#">Secondary Color</a>
											</div>
										</div>
									</div>
								</div>
								<div class="row2">
									<div class="small-12 medium-4 columns">
										<div class="focus2">
											<h1>Latest News</h1>
											<div aria-label="Favorite Space Pictures" class="orbit"
											data-orbit="" role="region">
											<ul class="orbit-container">
												<li style="list-style: none">

												</li>

												<li class="is-active orbit-slide">
													<div>
														<h3 class="text-center">You can also
															throw some text in here!</h3>
															<p class="text-center">Lorem ipsum
																dolor sit amet, consectetur adipisicing
																elit. Unde harum rem, beatae ipsa
																consectetur quisquam. Rerum ratione,
																delectus atque tempore sed, suscipit
																ullam, beatae distinctio cupiditate
																ipsam eligendi tempora expedita.</p>
																<h3 class="text-center">This Orbit
																	slide has chill</h3>
																</div>
															</li>
															<li class="orbit-slide">
																<div>
																	<h3 class="text-center">You can also
																		throw some text in here!</h3>
																		<p class="text-center">Lorem ipsum
																			dolor sit amet, consectetur adipisicing
																			elit. Unde harum rem, beatae ipsa
																			consectetur quisquam. Rerum ratione,
																			delectus atque tempore sed, suscipit
																			ullam, beatae distinctio cupiditate
																			ipsam eligendi tempora expedita.</p>
																			<h3 class="text-center">This Orbit
																				slide has chill</h3>
																			</div>
																		</li>
																		<li class="orbit-slide">
																			<div>
																				<h3 class="text-center">You can also
																					throw some text in here!</h3>
																					<p class="text-center">Lorem ipsum
																						dolor sit amet, consectetur adipisicing
																						elit. Unde harum rem, beatae ipsa
																						consectetur quisquam. Rerum ratione,
																						delectus atque tempore sed, suscipit
																						ullam, beatae distinctio cupiditate
																						ipsam eligendi tempora expedita.</p>
																						<h3 class="text-center">This Orbit
																							slide has chill</h3>
																						</div>
																					</li>
																					<li class="orbit-slide">
																						<div>
																							<h3 class="text-center">You can also
																								throw some text in here!</h3>
																								<p class="text-center">Lorem ipsum
																									dolor sit amet, consectetur adipisicing
																									elit. Unde harum rem, beatae ipsa
																									consectetur quisquam. Rerum ratione,
																									delectus atque tempore sed, suscipit
																									ullam, beatae distinctio cupiditate
																									ipsam eligendi tempora expedita.</p>
																									<h3 class="text-center">This Orbit
																										slide has chill</h3>
																									</div>
																								</li>
																							</ul>

																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="small-12 medium-4 columns">
																				<h1>Focus on</h1>
																				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																					Nulla pellentesque sapien nunc, ut tempor ipsum condimentum
																					quis. Nunc pretium placerat turpis, vitae accumsan ipsum
																					maximus vel. Proin aliquam sed ex a gravida. Nunc at feugiat
																					metus, ac posuere quam. Morbi nec odio in urna tincidunt
																					laoreet et eu felis. Vestibulum ultricies purus velit, in
																					pulvinar dui tempor vitae. Aenean eu purus volutpat, tincidunt
																					purus sit amet, dictum tortor.</p>
																					<a class="button" href=
																					"about.html">Learn More</a>
																				</div>
																				<div class="row">
																					<h1>focus</h1>
																					<div class="small-12 medium-4 columns">
																						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																							Nulla pellentesque sapien nunc, ut tempor ipsum condimentum
																							quis. Nunc pretium placerat turpis, vitae accumsan ipsum
																							maximus vel. Proin aliquam sed ex a gravida. Nunc at
																							feugiat metus, ac posuere quam. Morbi nec odio in urna
																							tincidunt laoreet et eu felis. Vestibulum ultricies purus
																							velit, in pulvinar dui tempor vitae. Aenean eu purus
																							volutpat, tincidunt purus sit amet, dictum
																							tortor.</p>
																							<a class="button" href="#features">View All
																								Features</a>
																							</div>
																							<div class="row">
																								<div class="small-12 medium-4 columns">
																									<div class="focus3">
																										<h1>Highlights event</h1>
																										<p>Lorem ipsum dolor sit amet, consectetur
																											adipiscing elit. Nulla pellentesque sapien nunc, ut
																											tempor ipsum condimentum quis. Nunc pretium
																											placerat turpis, vitae accumsan ipsum maximus vel.
																											Proin aliquam sed ex a gravida. Nunc at feugiat
																											metus, ac posuere quam. Morbi nec odio in urna
																											tincidunt laoreet et eu felis. Vestibulum ultricies
																											purus velit, in pulvinar dui tempor vitae. Aenean
																											eu purus volutpat, tincidunt purus sit amet, dictum
																											tortor.</p>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="row">
																							<div class="small-12 medium-4 columns">
																								<h1>Focus on</h1>
																								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																									Nulla pellentesque sapien nunc, ut tempor ipsum condimentum
																									quis. Nunc pretium placerat turpis, vitae accumsan ipsum
																									maximus vel. Proin aliquam sed ex a gravida. Nunc at feugiat
																									metus, ac posuere quam. Morbi nec odio in urna tincidunt
																									laoreet et eu felis. Vestibulum ultricies purus velit, in
																									pulvinar dui tempor vitae. Aenean eu purus volutpat, tincidunt
																									purus sit amet, dictum tortor.</p>
																									<a class="button" href=
																									"about.html">Learn More</a>
																								</div>
																								<div class="row">
																									<h1>focus</h1>
																									<div class="small-12 medium-4 columns">
																										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																											Nulla pellentesque sapien nunc, ut tempor ipsum condimentum
																											quis. Nunc pretium placerat turpis, vitae accumsan ipsum
																											maximus vel. Proin aliquam sed ex a gravida. Nunc at
																											feugiat metus, ac posuere quam. Morbi nec odio in urna
																											tincidunt laoreet et eu felis. Vestibulum ultricies purus
																											velit, in pulvinar dui tempor vitae. Aenean eu purus
																											volutpat, tincidunt purus sit amet, dictum
																											tortor.</p>
																											<a class="button" href="#features">View All
																												Features</a>
																											</div>
																											<div class="row">
																												<div class="small-12 medium-4 columns">
																													<div class="focus4">
																														<h1>Quick Links</h1>
																														<p>Lorem ipsum dolor sit amet, consectetur
																															adipiscing elit. Nulla pellentesque sapien nunc, ut
																															tempor ipsum condimentum quis. Nunc pretium
																															placerat turpis, vitae accumsan ipsum maximus vel.
																															Proin aliquam sed ex a gravida. Nunc at feugiat
																															metus, ac posuere quam. Morbi nec odio in urna
																															tincidunt laoreet et eu felis. Vestibulum ultricies
																															purus velit, in pulvinar dui tempor vitae. Aenean
																															eu purus volutpat, tincidunt purus sit amet, dictum
																															tortor.</p>
																														</div>
																													</div>
																												</div>
																											</div>
																										</div>
																									</section>


																								</body>
																								</html>
