<% provide(:title, "Home") %>

<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">

<body>
	<!--HERO SECTION-->
	<section class="hero">
		<div class="wrap">
			<div class="row logo">
				<div class="large-4 columns">
					<img src="http://www.cam.ac.uk/sites/www.cam.ac.uk/files/logo.png">
				</div>
				<div class="large-4 columns">
					<div class="large-6 columns">
						<ul>
							<li>
								<a href="#">&gt; For staff</a>
							</li>
							<li>
								<a href="/student_section/index">&gt; For ITG students</a>
							</li>
							<li>
								<a href="#">&gt; For alumni</a>
							</li>
							<li>
								<a href="#">&gt; For businesses</a>
							</li>
						</ul>
					</div>
					<div class="large-6 columns">
						<ul>
							<li>
								<a href="#">&gt; Departments</a>
							</li>
							<li>
								<a href="#">&gt; Library</a>
							</li>
							<li>
								<a href="#">&gt; Facilities</a>
							</li>
							<li>
								<a href="#">&gt; Contacts</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!--Index SECTION-->
			<div class="row">

				<div class="large-2 columns">
					<h1></h1>
				</div>

				<div class="small-12 large-8 columns">
				<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="assets/01.jpg" alt="Space">
      <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/02.jpg" alt="Space">
      <figcaption class="orbit-caption">Lets Rocket!</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/03.jpg" alt="Space">
      <figcaption class="orbit-caption">Encapsulating</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="assets/04.jpg" alt="Space">
      <figcaption class="orbit-caption">Outta This World</figcaption>
    </li>
  </ul>
			</div>
			</div>
			<div class="large-2 columns">
				<h1></h1>
			</div>
</div>

		</section>
		<!--MAIN SECTION-->
		<section class="main wrap">
			<div class="row">
				<div class="row1">
					<div class="small-12 medium-8 columns">
						<div class="small-12 medium-6 columns">
							<div class="row">
								<h1 >focus</h1>
								<h4>Zigbee</h4>
								<img class="image" src="assets/focus1.jpg" alt=""height="100" width="100"/>
								<p >ZigBee is an IEEE 802.15.4-based specification for a suite of high-level
									communication protocols used to create personal area networks with small, low-power digital radios.</p>
									<a class="button" href="#features">Read More</a>

								</div>
							</div>

							<div class="=small-12 medium-6 columns">
								<h1 ></h1>
								<h4>Matlab</h4>
								<img   class="image" src="assets/focus2.jpg" alt=""height="183" width="349"></img>
								<p >MATLAB (matrix laboratory) is a multi-paradigm numerical computing environment and fourth-generation programming language. A proprietary programming language developed by MathWorks,
									 creation of user interfaces,
									 and interfacing with programs written in other languages, including C, C++, Java, Fortran and Python.</p>
									<a class="button" href="#features">Read More
										</a>

								</div>

								<div class="small-12 medium-6 columns">
									<div class="focus">
										<h1 ></h1>
										<img class="image" src="assets/focus3.jpg" alt=""height="183" width="349"/>
										<p >Ubuntu  is a Debian-based Linux operating system and distribution for personal computers
											, smartphones and network servers. It uses Unity as its default user interface.
											 It is based on free software and named after the Southern African philosophy of ubuntu (literally, 'human-ness')</p>
											<a class="button" href="#features">Read More</a>

										</div>
									</div>
									<div class="small-12 medium-6 columns">
										<div class="focus">
											<h1></h1>
											<img class="image" src="assets/focus4.jpg" alt=""height="183" width="349"/>
											<p >AutoCAD is a commercial software application for 2D and 3D computer-aided design
												 (CAD) and drafting — available since
												1982 as a desktop application and since 2010 as a mobile, web- and cloud-based app marketed as AutoCAD 360.

Developed and marketed by Autodesk,[1] AutoCAD was first released in December 1982</p>
												<a class="button" href="#features">Read More</a>
												</div>
										</div>
									</div>
								</div>
								<div class="row2">
									<div class="small-12 medium-4 columns">
										<div class="col">
											<h1>Latest News</h1>
											<div aria-label="Favorite Space Pictures" class="orbit"
											data-orbit="" role="region">
											<ul class="orbit-container">
												<li style="list-style: none">

												</li>

												<li class="is-active orbit-slide">
													<div>
														<h3 class="text-center">You can also
															throw some text in here!</h3>
															<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque sapien nunc, ut tempor ipsum condimentum quis. Nunc pretium placerat turpis, vitae accumsan ipsum maximus vel.</p>
																<h3 class="text-center">This Orbit
																	slide has chill</h3>
																</div>
															</li>
															<li class="orbit-slide">
																<div>
																	<h3 class="text-center">You can also
																		throw some text in here!</h3>
																		<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque sapien nunc, ut tempor ipsum condimentum quis. Nunc pretium placerat turpis, vitae accumsan ipsum maximus vel.</p>
																			<h3 class="text-center">This Orbit
																				slide has chill</h3>
																			</div>
																		</li>
																		<li class="orbit-slide">
																			<div>
																				<h3 class="text-center">You can also
																					throw some text in here!</h3>
																					<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque sapien nunc, ut tempor ipsum condimentum quis. Nunc pretium placerat turpis, vitae accumsan ipsum maximus vel.</p>
																						<h3 class="text-center">This Orbit
																							slide has chill</h3>
																						</div>
																					</li>
																					<li class="orbit-slide">
																						<div>
																							<h3 class="text-center">You can also
																								throw some text in here!</h3>
																								<p class="text-center">
																									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque sapien nunc, ut tempor ipsum condimentum quis. Nunc pretium placerat turpis, vitae accumsan ipsum maximus vel.</p>
																									<h3 class="text-center">This Orbit
																										slide has chill</h3>
																									</div>
																								</li>
																							</ul>

																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="small-12 medium-4 columns">
																				<h1 "border-bottom: 1px dashed">Focus on</h1>
																				<img class="image" src="assets/04.jpg" alt=""height="183" width="349"/>
																				<p "border-bottom: 1px dashed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque sapien nunc, ut tempor ipsum condimentum quis. Nunc pretium placerat turpis, vitae accumsan ipsum maximus vel.</p>
																					<a class="button" href=
																					"about.html">Learn More</a>
																				</div>
																				<div class="row">
																					<h1 "border-bottom: 1px dashed">focus</h1>
																					<div class="small-12 medium-4 columns">
																						<img class="image" src="assets/04.jpg" alt=""height="183" width="349"/>
																						<p "border-bottom: 1px dashed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque sapien nunc, ut tempor ipsum condimentum quis. Nunc pretium placerat turpis, vitae accumsan ipsum maximus vel.</p>
																							<a class="button" href="#features">View All
																								Features</a>
																							</div>
																							<div class="row">
																								<div class="col">
																								<div class="small-12 medium-4 columns">
																									<div class="focus3">
																										<ul style="list-style-type: none">
																										<h1 style="border-bottom: 1px dotted;">Highlights event</h1>
																										<div class="events">

																										<li style="border-bottom: 0.5px dotted;" >
																												<a  href="#">Counselling</a>
																										</li>
																										<li style="border-bottom:0.5px dotted">
																												<a href="#">Admissions</a>
																										</li>
																										<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
																											<div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
																												<div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC);
																												display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">
																											</div>
																										</div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BHHDQnGA_Uw/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#rudranath</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by gáûřåv bhatt (@gaurav_bhattt) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-06-26T07:59:10+00:00">Jun 26, 2016 at 12:59am PDT</time></p>
																										</div></blockquote>

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

																										</ul>
																									</div>
																									</div>
																									</div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="row">
																							<div class="small-12 medium-4 columns">
																								<h1 style="border-bottom: 1px dashed">Focus on</h1>
																								<img class="image" src="assets/04.jpg" alt=""height="183" width="349"/>
																								<p "border-bottom: 1px dashed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque sapien nunc,
																									ut tempor ipsum condimentum quis. Nunc pretium placerat turpis, vitae accumsan ipsum maximus vel.</p>
																									<a class="button" href=
																								"about.html">Read More</a>
																								</div>
																								<div class="row">
																									<h1 style="border-bottom: 1px dashed" margin-top: 10>focus</h1>

																									<div class="small-12 medium-4 columns">
																										<img class="image" src="assets/04.jpg" alt=""height="183" width="349"/>
																										<p  style="border-bottom: 1px dashed">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																											Nulla pellentesque sapien nunc, ut tempor ipsum condimentum
																											quis. Nunc pretium placerat turpis, vitae accumsan ipsum
																											maximus vel.</p>
																											<a class="button" href="#features">Read More</a>
																											</div>
																											<div class="row">
																												<div class="col">
																												<div class="small-12 medium-4 columns">
																													<div class="focus4">
																															<ul style="list-style-type: none">
																														<h1 style="border-bottom: 1px dotted;">Quick Links</h1>

																															<li style="border-bottom: 1px dotted;">
																																<a href="#"> Vice-Chancellor search</a>
																															</li>
																															<li style="border-bottom: 1px dotted;">
																																<a href="#"> Security</a>
																															</li>
																															<li style="border-bottom: 1px dotted;">
																																<a href="#">Alumni</a>
																															</li style="border-bottom: 1px dotted;">
																															<li  style="border-bottom: 1px dotted;">
																																<a href="#">Notices</a>
																															</li>
																															<li  style="border-bottom: 1px dotted;">
																																  <a href="#">sports</a>
																															</li>
																															<li  style="border-bottom: 1px dotted;">
																																  <a href="#">Terms dates and calender</a>
																															</li>

																														</ul>
																													</div>
																													</div>
																													</div>
																												</div>
																											</div>
																										</div>
																									</section>


																								</body>
																								</html>
