.nav-desktop {
    background-color: black;
    height: 70px;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

#Academics {
    background-color: black;
}

.site-logo {
    color: white;
    line-height: 70px;
}

.nav-desktop .menu-desktop {
    line-height: 70px;
    background-color: transparent;
}

.menu > li > a {
    display: inline-block;
    line-height: 70px;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.menu > li > a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.menu-desktop input {
    background: transparent;
    border-color: dimgrey;
    padding-right: 0;
}

.menu-desktop button {
    background: transparent;
}

.menu-desktop button:hover {
    background: auto;
}
