$black : black;
$purple: #6158A6;
$sblue: #1FB4C2;
$white: white;
$yellow: #F2B91D;
$chelpark: #324D5C;
$jonsnow: #D6D9DA;
$belize-hole: #2980b9;
$midnight-blue: #2c3e50;
$greensea: #16a085;
$steel-blue: #4B77BE;
$chestnut-rose: #D24D57;
$edward: #ABB7B7;
$lynch: #6C7A89;
