@font-face {
  font-family: "Proxima Nova Black";
  src: url(/assets/ProximaNova-Black.otf) format("truetype");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url(/assets/ProximaNova-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url(/assets/ProximaNova-Light.otf) format("truetype");
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url(/assets/ProximaNova-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Proxima Nova SemiBold";
  src: url(/assets/ProximaNova-Semibold.otf) format("truetype");
}
