@import "Partials/colors";
 .orbit-caption{
  position: relative;;
  right: 0;
display:inline;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  width: 50%;
  padding: 0.55556rem 0.77778rem;
  font-size: 0.77778rem;

}
.hero {
    padding-top: 40px;
    height: 50%;
    background-color: $chelpark;
}

.hero h1,
.hero p {
    color: rgba(255, 255, 255, 0.8);
    width: 70%;
}

.mega-menu {
    background: #191919;
    margin-right: auto;
    margin-left: auto;
    max-width: initial;
    color: white;
    border-left: 1px solid #737373;
}

.mega-menu div {
    margin-top: 20px;
}

.mega-menu ul {
    border-right: 1px dotted #737373;
    margin-top: 20px;
    list-style-type: none;
    font-family: "Karla", sans-serif;
}

.mega-menu ul li {
    padding-top: 10px;
}

.mega-menu ul li a {
    font-weight: normal;
    color: white;
}

#owl-demo .item img {
    display: block;
    width: 95%;
    height: 40%;
    margin: 0 auto;
}

#bar {
    width: 0%;
    max-width: 100%;
    height: 4px;
    background: #7fc242;
}

#progressBar {
    width: 95%;
    background: #EDEDED;
    margin: 0 auto;
}

.logo {
    margin-left: 0px;
    padding-bottom: 20px;
}

.logo ul {
    list-style-type: none;
    font-family: "Inconsolata", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: white;
}

.logo ul li a {
    color: white;
}
