@import "Partials/colors";

.hero {
  background: linear-gradient(270deg, #18f0b8, #18a2f0, #db5640);
  position: relative;
  height: 90vh;
  background-size: 600% 600%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;
}

.hero-particles{
  height: 100%;
  z-index: 10;
}

.hero-content{
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content h1{
  height: 100%;
  width: 100%;
  margin-top: 60px;
  font-family: "Proxima Nova Black", cursive;
}

.hero-content h4{
  font-family: "Proxima Nova Light", sans-serif;
}

.hero-content button{
  margin-top: 40px;
  bottom: 0;
}

.hero-content i{
  font-size: 50px;
}

.mega-menu {
  background: #191919;
  margin-right: auto;
  margin-left: auto;
  max-width: initial;
  color: white;
  border-left: 1px solid #737373;
}

.mega-menu div {
  margin-top: 20px;
}

.mega-menu ul {
  border-right: 1px dotted #737373;
  margin-top: 20px;
  list-style-type: none;
  font-family: "Proxima Nova Regular", sans-serif;
}

.mega-menu ul li {
  padding-top: 10px;
}

.mega-menu ul li a {
  font-weight: normal;
  color: white;
  font-family: "Proxima Nova Regular", sans-serif;
}

@-webkit-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
