@import "Partials/colors";
.hero {
    padding-top: 80px;
    height: 50%;
    background-color: $chelpark;

}

.hero h1,
.hero p {
    color: rgba(255, 255, 255, 0.8);
    width: 70%;
}

.orbit {
    height: 90%;
    width: 70%;
    margin: 0 auto;
}

