@import "Partials/colors";
.main {
    background-color:silver;
    width: 100%;

}

.focus4 {
    background-color: bisque;
}

.focus3 {
    background-color: bisque;
}

.focus2 {
    background-color: bisque;
}

.focus {}

.top-bar-title {
    font-size: 24px;
    padding-left: 10px;
}

