@import "Partials/colors";
.main {
  margin-top: 20px;
  width: 100%;
  margin-right: 0px;
}

.events{
  font-size: 1em;
}

.top-bar-title {
    font-size: 24px;
    padding-left: 10px;
}

.focus img{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 500px;
}

#ticker {
  height: 100%;
  overflow: hidden;
}
#ticker li {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  text-align: center;
  min-height: 40px;
}

#ticker h6 {
  font-family: "Proxima Nova Regular", sans-serif;
}

#ticker1 {
  height: 100%;
  overflow: hidden;
}
#ticker1 li {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  text-align: center;
  min-height: 40px;
}

#ticker1 h6 {
  font-family: "Proxima Nova Regular", sans-serif;
}

div.border {
  border-left-style: solid;
  border-width: 5px;
  margin-bottom: 40px;
}
