
<% provide(:title, "About") %>

<div id="spacer" class="massive ui menu">
  &nbsp;
</div>
<div class="ui top attached tabular menu">
  <a class="active green item" data-tab="About ITG">About ITG</a>
  <a class="green item" data-tab="About UTU">About UTU</a>
  <a class=" green item " data-tab="VC Message">Vice Chancellor's Message</a>
  <a class=" green item " data-tab="Director Message">Director's Message</a>
</div>
<div class="ui bottom  active attached tab segment" data-tab="About ITG">
  <div class="ui card" id="uibackground">
    <div class="content">
      <div class="header">Qualified Teacher</div>

      <div class="description">
        <p>A quality universal primary education will remain a distant dream for millions of students
          living in countries without enough trained teachers in classrooms.
          Teachers are the core of any education system. Hiring and training new and already established teachers
          is fundamental to protecting student's ability to learn in college.</p>

        </div>
      </div>
    </div>

    <div class="ui card" id="uibackground">
      <div class="content">
        <div class="header">Equipped Classrooms</div>

        <div class="description">
          <p>A classroom is a learning space, a room in which classes are held.
            The key element in classroom management, whether using technology or not, is to ensure that students are actively
            participating in the learning process, not simply receiving it. There are many new technological
            advances that can be found in today’s classrooms,
            and the integration of technology into classrooms has brought learning to an entirely new level.</p>

          </div>
        </div>
      </div>
      <div class="ui card" id="uibackground">
        <div class="content">
          <div class="header">Advanced Teaching</div>

          <div class="description">
            <p>Advanced Teaching Methods for the Technology Classroom provides a comprehensive, critical approach to meeting the
              new challenges of technology in the classroom. Advanced Teaching Methods for the Technology Classroom presents an introduction
              to teaching educational technology, design, and engineering.
              It also contains strategies for innovation by examining the what, why, and how of technology education.</p>

            </div>
          </div>
        </div>
        <div class="ui card" id="uibackground">
          <div class="content">
            <div class="header">Advanced Study Plans</div>

            <div class="description">
              <p>ITG offers higher education in Engineering, Technology and allied Sciences relevant to the current and
                projected needs of the society. Besides promoting research and disseminating knowledge gained therefrom,
                it fosters cooperation between the academic and industrial communities.</p>

              </div>
            </div>
          </div>
          <div class="ui card" id="uibackground">
            <div class="content">
              <div class="header">Focus On Target</div>

              <div class="description">
                <p>ITG will graduate academically superior students prepared for professional success.”
                  These ongoing efforts to document and improve student achievement are linked to the academic programs.
                  ITG Students have the option to target their studies toward a specific field of interest.</p>

                </div>
              </div>
            </div>
            <div class="ui card" id="uibackground">
              <div class="content">
                <div class="header">Focus On Success</div>

                <div class="description">
                  <p>ITG is a key technology focused college. Our focus is not only in academics but also in various practical
                    industrial connect programs. We maintain close interaction with the industries for on the
                    job training of the students as well as for fine-tuning of its academic programme in consultation with the industries.</p>

                  </div>
                </div>
              </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="About UTU">
              <div style=" text-align: justify;text-justify: inter-word; font-size:15px;">
                <h2>About UTU Dehradun</h2>

                <p>
                  The Uttarakhand Technical University, Dehradun was established on 27th January 2005 by Govt. of Uttarakhand through
                  the Uttarakhand Technical University Act 2005. The University is the only affiliating University of the state running v
                  arious private and Govt. institution. There are 4 Constituent and 118 affiliated colleges with 50,000 students in various courses.

                </p>
                <p>
                  ITG offers four B. Tech programme in five disciplines viz. CSE, ECE, ME, CE, and EE. We at ITG strive to provide c
                  ongenial academic environment by combining education with overall personality development. We have planned to
                  introduce a number of add-on courses to develop an engineer in totality with his/her mind and body as perfect
                  tools for specific career absorptions. Academic excellence is our priority. We have plans to tie up with world
                  class organizations to bring our institution level.

                </p>
                <p>
                  The University and ITGopeshwar aim at facilitating and promoting studies, research, technology incubation, p
                  roduct innovation and extension work in Science and Technology for achieving excellence in higher technical education.
                  We provide a congenial environment for the holistic growth and all round development of the students through suitably
                  designed teaching learning processes.

                </p>
                <p>
                  The University is serving the technical education through its progress monitored each semester,
                  part time Ph.D programme especially designed for the teachers and scientists by giving them opportunity to
                  explore the untouched area of the research. The University in its own campus running M.Tech and M.Pharma
                  Programme in various disciplines. Apart from this University is having 4 Constituent Colleges namely:

                </p>

                <h3>1. Seemant Institute of Technology,Pithoragarh</h3>

                <h3>2. THDC-IHET, New Tehri</h3>

                <h3>3. Institute of Technology,Gopeshwar</h3>

                <h3>4. Women Institute of Technology,Dehradun</h3>
              </div>
            </div>
            <div class="ui bottom attached tab segment " data-tab="VC Message">
              <div style=" text-align: justify;text-justify: inter-word; font-size:15px;">


                <h4 style="padding-top:15px;"><b>My dear students and esteemed colleagues,</b></h4>

                <p>
                  At the very onset, I am prompted to use a John Dewey's quote: "Education is not preparation for life; education is life itself".

                </p>
                <p>
                  My hearty welcome to you to join Institute of Technology (IT) Gopeshwar, a splendid Temple of Learning which is a constituent college of Uttarakhand Technical University (UTU). Choosing an Institution has been one of the most important decisions of your life. You are entering into the arena of higher education where the future is full of opportunities. I would like to congratulate you on choosing IT, Gopeshwar as an Institution in developing your career and realising dreams.

                </p>
                <p>
                  Education is about much more than employability. It includes evolving with a different view, developing different perspectives and opening your mind to the enormous possibilities, and ultimately emerging as world class human resource. The University and IT offer you an intellectually challenging and rewarding atmosphere. It gives you the ability, self-confidence and the desire to go on learning for the rest of your life and to cope with new emerging and challenging situations. We at the University and IT are firmly committed to excel in technical education and research, and are fully aware of the challenges of the future. Apart from strengthening the teaching-learning process, research and extension programmes, special focus on extra-curricular, sports and other similar activities to foster global competencies among the students is our priority.

                </p>
                <p>
                  The University and ITG aim at facilitating and promoting studies, research, technology incubation, product innovation and extension work in Science and Technology for achieving excellence in higher technical education. We provide a congenial environment for the holistic growth and all round development of the students through suitably designed teaching learning processes.

                </p>
                <p>
                  Society is changing rapidly in many ways which will have a profound impact on the roles of Universities. In this changing world, knowledge will remain a key resource around the globe. The dynamics of the fast-changing world urges the academicians to give the right impetus for making life-long learners out of students. The horizons of professional activities are expanding, and hence today there is a greater scope for the students to present their talents and achievements. Since technical education in our country has become quite dynamic and competitive, we have to be ready and equipped with the required abilities and capacities to acquire the latest knowledge through newer technology.

                </p>
                <p>
                  I welcome all the students who chose to be a part of this premier Institute (IT), I am sure that you will feel proud on being associated with us and make us equally proud with your academic excellence and accomplishments.

                </p>

                <p>
                  With best wishes,

                </p>
                <p>
                  Prof P K GARG
                </p>

                <p>
                  Vice Chancellor,UTU, Dehradun

                </p>
              </div>
            </div>
            <div class="ui bottom attached tab segment " data-tab="Director Message">
              <div style=" text-align: justify;text-justify: inter-word; font-size:15px;">
                <h4 style="padding-top:15px;"><b>My dear students,</b></h4>

                <p>
                  I take this opportunity to introduce Institute of Technology, Gopeshwar (ITG) to the student’s community. It is time to realize that the finest society can be developed by using creative minds in the advanced areas of Science and Engineering. In that spirit we have come up with this engineering college where girls and boys are being groomed to reach the pinnacle of success. We are proud of your association with the college which will help in spreading the technical education in this region. ITG is focused to create an environment of the total development of students at different levels viz. intellectual, attitudinal, emotional & social. The college is poised to grow into an institute with a difference having strategic planning, enabling students to face the competitive world with confidence.

                </p>
                <p>
                  My hearty welcome to you to join Institute of Technology (IT) Gopeshwar, a splendid Temple of Learning which is a constituent college of Uttarakhand Technical University (UTU). Choosing an Institution has been one of the most important decisions of your life. You are entering into the arena of higher education where the future is full of opportunities. I would like to congratulate you on choosing IT, Gopeshwar as an Institution in developing your career and realising dreams.

                </p>
                <p>
                  ITG offers four B. Tech programme in five disciplines viz. CSE, ECE, ME, CE, and EE. We at ITG strive to provide congenial academic environment by combining education with overall personality development. We have planned to introduce a number of add-on courses to develop an engineer in totality with his/her mind and body as perfect tools for specific career absorptions. Academic excellence is our priority. We have plans to tie up with world class organizations to bring our institution level.

                </p>
                <p>
                  The University and IT aim at facilitating and promoting studies, research, technology incubation, product innovation and extension work in Science and Technology for achieving excellence in higher technical education. We provide a congenial environment for the holistic growth and all round development of the students through suitably designed teaching learning processes.

                </p>
                <p>
                  We are determined to have a close tie up and linkages with major Industrial Houses. We involve our student’s right from the beginning on short and long term basis for exhaustive training and industrial project work. It facilitates hands on experience in real technological aspects and skill development.

                </p>
                <p>
                  ‘’Human minds perform their best when given a sharper adage”.

                </p>

                <p>
                  With best wishes,
                </p>

                <p>
                  Dr. K.K.S.Mer

                </p>
                <p>
                  Director, IT Gopeshwar

                </p>
              </div>
            </div>
