/*---------------------Custom SASS------------------*/

@import 'Partials/_colors';
@import 'Partials/_wrapper';
@import 'Partials/_navigation';

/***********************************************
MEDIA QUERIES
************************************************/

@media (max-width: 640px) {
    .nav-desktop {
        display: none;
    }
    .mega-menu {
        display: none;
    }
    .logo {
        display: none;
    }
    .logo ul{
      display: none;
    }
}

@media (max-width: 875px) {
    hero.p,
    hero.h1 {
        width: 100%;
    }
}
