// Place all the styles related to the student_section controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---------------------Custom SASS------------------*/

@import 'Partials/_fonts';
@import 'Partials/_colors';
@import 'Partials/_wrapper';
@import 'Partials/_mainbody';
@import 'Partials/_hero';
@import 'Partials/_navdesk';
@import 'Partials/_navmob';
@import 'Partials/_footer';

.login .success{
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.success a{
  display: block;
  color: white;
}

.slider {
  height: 80vh;
  width: 80%;
  margin-top: 0px;
  vertical-align: middle;
  overflow: hidden;
}

.slider img{
  object-fit: contain;
}
