/*---------------------Custom SASS------------------*/

@import 'Partials/_colors';
@import 'Partials/_wrapper';
@import 'Partials/_mainbody';
@import 'Partials/_hero';
@import 'Partials/_navdesk';
@import 'Partials/_navmob';
@import 'Partials/_footer';

.page-headline{}

h1.page-headline {
  text-align: center;
  margin-bottom: 60px;
  font-family: 'Work Sans', sans-serif;
}

h2.page-headline {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Work Sans', sans-serif;
}


/***********************************************
MEDIA QUERIES
************************************************/

@media (max-width: 640px) {
    .nav-desktop {
        display: none;
    }
    .mega-menu {
        display: none;
    }
    .logo {
        display: none;
    }
    .logo ul{
      display: none;
    }
}

@media (max-width: 875px) {
    hero.p,
    hero.h1 {
        width: 100%;
    }
}
