body
	{
		margin:0;
	}
	
.wrapper
	{
			#display: block;
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: left;
			word-wrap: break-word;
			height:auto;
			background: -webkit-linear-gradient(left, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #66CCCC , #66CCCC, #66CCCC, #66CCCC ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF,#FFFFFFC, #66CCCC , #66CCCC, #66CCCC, #66CCCC ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #66CCCC , #66CCCC, #66CCCC, #66CCCC ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF, #66CCCC , #66CCCC, #66CCCC, #66CCCC ); /* Standard syntax (must be last) */
		
	}
.row1
	{
		min-height:115px;
		height:auto;
	}
.row2
	{
		margin:0 auto;
	}
#header
		{
		margin: 0 auto;
		max-width: 95%;
		display: block;
		width: 100%;
		clear: both;
		}
		
	
	#header img
	{
		width: auto;
		max-width: 100%;
		height: auto;
		margin: 0;
		margin-bottom:1px;
		padding: 0;
		border: none;
		line-height: normal;
		vertical-align: middle;
		float:left;
	}
	#div_top_right
	{
	display: block;
	float: right;
	width: auto;
	clear: left;
	}
	
	
#main_menu
	{
		
		margin:0 auto;
		height:auto;
		background: #39b1cc;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
		border-top:1px solid black;
		border-bottom:1px solid black;
		
	}