<% provide(:title, "Student-Section") %>
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<body>
  <div class="row expanded large-12 columns slider">
    <img src="/assets/01.jpg"/>
    <img src="/assets/02.jpg"/>
  </div>
</body>
