.hero-user{
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

#spacer{
  background: transparent;
  border: 0px;
  box-shadow: 0 0 0 0;
}

.tabs-user{
  padding: 2%;
}

.user-details h2,
.user-details h3,
.user-details h4,{
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
